---
layout: default 
title: Programação
---
%table#programacao
  %tr
    %th HORÁRIOS
    %th
      17/10/2010
      %br
      DOMINGO
    %th
      18/10/2010
      %br
      SEGUNDA
    %th
      19/10/2010
      %br      
      TERÇA
    %th
      20/10/2010
      %br
      QUARTA
    %th 
      21/10/2010
      %br
      QUINTA
    %th
      22/10/2010
      %br
      SEXTA
  %tr
    %th(rowspan="3") 8:00
    %td.bg_color
    %td(rowspan="6" colspan="3") Mini-cursos e Cursos (Salas 1 a 11)
    %td
      %strong Conferência X 
      %br
      Potenciais de frutíferas na produção de biodiesel (coco, dendê, babaçu e palmáceas)
    %td(rowspan="6")
      Curso de Fabricação Caseira de Cerveja de Frutas
      %br
      e
      %br
      Saídas para as
      %br
      Excursões Técnicas
  %tr
    %td.bg_color
    %td
      %strong Conferência XI
      %br
      Funcionalidades das frutíferas na saúde
  %tr
    %td.bg_color
    %td 
      %strong Conferência XII
      %br
      Instrumentação agrícola na fruticultura
  %tr
    %th(rowspan="3") 09:00
    %td.bg_color
    %td
      %strong Mesa Redonda X
      %br
      Casos de sucesso na fruticultura
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XI
      %br
      Revista Brasileira de fruticultura
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XII
      %br
      Avaliação da eficiência dos serviços de polinização no incremento da produtividade de frutíferas
  %tr
    %th 10:30
    %td.bg_color
    %td(colspan="4")
      %strong INTERVALO - VISITA AOS ESTANDES
    %td
      %strong INTERVALO
  %tr
    %th 11:00
    %td.bg_color
    %td(colspan="3") Mini-cursos e Cursos (Salas 1 a 11)
    %td Apresentação de Trabalhos Técnicos (Oral e Pôsteres)
    %td Curso de Fabricação Caseira de Cerveja de Frutas
  %tr
    %th 12:00
    %td.bg_color
    %td(colspan="4")
      %strong ALMOÇOS E SIMPÓSIOS STAÉLITES
    %td
      %strong ALMOÇO
  %tr
    %th(rowspan="3") 14:00
    %td.bg_color
    %td
      %strong Conferência I
      %br
      Políticas públicas para a fruticultura
    %td
      %strong Conferência IV
      %br
      Importação e exportação de frutas
    %td
      %strong Conferência VII
      %br
      A citricultura: desafios e oportunidades
    %td(rowspan="6")
      Assembléia da SBF
      %br
      e
      %br
      Curso de Fabricação Caseira de Cerveja de Frutas
    %td(rowspan="8") Excursões Técnicas
  %tr
    %td.bg_color
    %td
      %strong Conferência II
      %br
      Avanços da biotecnologia na fruticultura
    %td
      %strong Conferência V
      %br
      Produção de frutíferas em cultivos protegidos
    %td
      %strong Conferência VIII
      %br
      Nutrição e Adubação de Frutíferas
  %tr
    %td.bg_color
    %td
      %strong Conferência III
      %br
      A fruticultura na EMBRAPA
    %td
      %strong Conferência VI
      %br
      Novos avanços da defesa vegetal do Brasil
    %td
      %strong Conferência IX
      %br
      Aproveitamento de produtos e co-produtos da fruticultura na alimentação 
  %tr
    %th(rowspan="3") 15:00
    %td(rowspan="6")
      %strong CREDENCIAMENTO
    %td
      %strong Mesa Redonda I
      %br
      Potencial de Spondias na fruticultura (umbu, cajá, cajarana)
    %td
      %strong Mesa Redonda IV
      %br
      Novas técnicas da agroinformática na fruticultura
    %td
      %strong Mesa Redonda VII
      %br
      Papel da pesquisa e da extensão na fruticultura
  %tr
    %td
      %strong Mesa Redonda II
      %br
      Alternativas de fruteiras de clima temperado no semi-árido
    %td
      %strong Mesa Redonda V
      %br
      Novos métodos não-destrutivos na avaliação da maturação de frutos
    %td
      %strong Mesa Redonda VIII
      %br
      Solo como elemento de sustentação da fruticultura
  %tr
    %td
      %strong Mesa Redonda III
      %br
      Frutíferas da Amazônia: oportunidade e mercado
    %td
      %strong Mesa Redonda VI
      %br
      Papel das associações na fruticultura
    %td
      %strong Mesa Redonda IX
      %br
      Produção integrada de frutas
  %tr
    %th 16:30
    %td(colspan="4")
      %strong INTERVALO - VISITA AOS ESTANDES
  %tr
    %th 17:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Oral)
    %td(rowspan="2") Curso de Fabricação Caseira de Cerveja de Frutas
  %tr
    %th 18:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Término das Excursões Técnicas
  %tr
    %th 19:00
    %td 
      %strong SOLENIDADE DE ABERTURA
    %td(colspan="3")
      %strong ENCERRAMENTO DAS ATIVIDADES DO DIA
    %td
      %strong ENCERRAMENTO DO EVENTO E 
      %br
      %strong ENTREGA DE CERTIFICADOS
    %td.bg_color
  %tr
    %th 20:00
    %td Conferência Inaugural
    %td.bg_color(colspan="5")
  %tr
    %th 21:00
    %td Apresentação Cultural e Coquetel
    %td.bg_color(colspan="2")
    %td
      %strong Jantar de Comemoração dos 40 anos da SBF (por adesão)
      %br
      %br
      %strong Sorteio 
      %br
      %strong Jornal da Fruta:
      %br
      01 Pulverizador Arbus 500 da Jacto
    %td.bg_color(colspan="2")

%h2 Mini-cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Cultivo de Fruteiras Orgânicas
    %td 40
    %td 12h
  %tr
    %th 02
    %td Biotecnologia – Cultura de Tecidos
    %td 40
    %td 12h
  %tr
    %th 03
    %td Manejo Integrado  de Doenças
    %td 40
    %td 12h
  %tr
    %th 04
    %td Manejo Integrado de Praga
    %td 40
    %td 12h
  %tr
    %th 05
    %td Processamento mínimo de Fruta
    %td 40
    %td 12h
  %tr
    %th 06
    %td Produção Integrada de Frutas
    %td 40
    %td 12h
  %tr
    %th 07
    %td Fisiologia, qualidade e pós-colheita de frutas
    %td 40
    %td 12h
  %tr
    %th 08
    %td Cultivos de plantas ornamentais: oportunidades e mercados
    %td 40
    %td 12h
  %tr
    %th 09
    %td Cultivo de pequenos frutos vermelhos
    %td 40
    %td 12h
%p Obs.: Os cursos que não obterem o número mínimo de 20 inscritos serão cancelados e os participantes remanejados para outros cursos. 

%h2 Cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Técnicas de produção de uvas e influência na qualidade do vinho
    %td 40
    %td 20h
  %tr
    %th 02
    %td Fabricação Caseira de Cerveja de Frutas
    %td 40
    %td 20h

%h2 Convidados confirmados
%ul#palestrantes
  = guest_detail('Abel Rebouças', 'abel-reboucas', 'BA', [])
  = guest_detail('Adriano Henrique do Nascimento Rangle', '', 'RN', [])
  = guest_detail('Afonso Peche Filho', '', 'SP', [])
  = guest_detail('Alexandre Holfman', '', 'RS', [])
  = guest_detail('Amilton Gurgel Guerra', '', 'RN', [])
  = guest_detail('Ana Lúcia Gabas', '', 'DF', [])
  = guest_detail('Antonio Baldo Geraldo Martins', '', 'SP', [])
  = guest_detail('Aparecida Claret De Souza', '', 'AM', [])
  = guest_detail('Aureliano Nogueira da Costa', '', 'ES', [])
  = guest_detail('Baldonedo Arthur Napoleão', '', 'MG', [])
  = guest_detail('Carlos Rugierro', '', 'SP', [])
  = guest_detail('Celio Kersul do Sacramento', '', 'BA', [])
  = guest_detail('Celso Pommer', '', 'RN', [])
  = guest_detail('Cesar José Fanton', '', 'ES', [])
  = guest_detail('Christiane Mendes Cassimiro', '', 'PB', [])
  = guest_detail('Cristiane Elizabeth Costa de Macedo', '', 'RN', [])
  = guest_detail('Daniel Alexandre Neuwald', '', 'ALE', [])
  = guest_detail('Edivaldo Galdino Ferreira', '', 'PB', [])
  = guest_detail('Eduardo Pargot', '', 'RS', [])
  = guest_detail('Eduardo Stuchi', '', 'SP', [])
  = guest_detail('Elazar Fallik', '', 'ISR', [])
  = guest_detail('Emerson Dias Gonçalves', '', 'MG', [])
  = guest_detail('Eudes Almeida Cardoso', '', 'RN', [])
  = guest_detail('Fernando Luis Dutra Cintra', '', 'SE', [])
  = guest_detail('Flavio Fernandes Júnior', '', 'SP', [])
  = guest_detail('Flavio Zanette', '', 'PR', [])
  = guest_detail('Francisco Xavier de Souza', '', 'CE', [])
  = guest_detail('Franco Marinho Gomes', '', 'RN', [])
  = guest_detail('François Laurens', '', 'FRA', [])
  = guest_detail('Jeane Martins', '', 'RN', [])
  = guest_detail('Joâo Pedro Valente', '', 'MT', [])
  = guest_detail('José Araujo Dantas', '', 'RN', [])
  = guest_detail('José Carlos Fachinello', '', 'RS', [])
  = guest_detail('José Luiz Petri', '', 'SC', [])
  = guest_detail('Joston Simão de Assis', '', 'PE', [])
  = guest_detail('Laércio Duarte Souza', '', 'BA', [])
  = guest_detail('Laércio Zambolim', '', 'MG', [])
  = guest_detail('Leandro Camargo Neves', '', 'PR', [])
  = guest_detail('Lucia Helena Piedade Kiill', '', 'PE', [])
  = guest_detail('Luciano Silva Souza', '', 'BA', [])
  = guest_detail('Luis Carlos Bhering Nasser', '', 'DF', [])
  = guest_detail('Luis Cisnero Zevallos', '', 'EUA', [])
  = guest_detail('Luis Eduardo Correa Antunes', '', 'RS', [])
  = guest_detail('Luiz Carlos Donadio', '', 'SP', [])
  = guest_detail('Luiz Roberto Barcelos', '', 'RN', [])
  = guest_detail('Magdi Ahmed Imbralim Aloufa', '', 'RN', [])
  = guest_detail('Marcelo Picanço', '', 'MG', [])
  = guest_detail('Márcia Maués', '', 'BA', [])
  = guest_detail('Marcos Antônio Moreira', '', 'RN', [])
  = guest_detail('Marcos Eger', '', 'AM', [])
  = guest_detail('Maria do Carmo Bassolis Raseira', '', 'RS', [])
  = guest_detail('Mauro Carneiro', '', 'DF', [])
  = guest_detail('Narendra Narain', '', 'SE', [])
  = guest_detail('Otoniel Ribeiro Duarte', '', 'RR', [])
  = guest_detail('Patricia Coelho De Souza Leão', '', 'PE', [])
  = guest_detail('Paulo Roberto Coelho Lopes', '', 'PE', [])
  = guest_detail('Rafael Pio', '', 'MG', [])
  = guest_detail('Raimundo Braga Sobrinho', '', 'CE', [])
  = guest_detail('Raul Dantas Vieira Neto', '', 'SE', [])
  = guest_detail('Rêmulo de Araújo Carvalho', '', 'PB', [])
  = guest_detail('Ricardo Elesbão Alves', '', 'CE', [])
  = guest_detail('Rômulo da Silva Carvalho', '', 'BA', [])
  = guest_detail('Rosilene Ferreira Souto', '', 'DF', [])
  = guest_detail('Rui Sales Júnior', '', 'RN', [])
  = guest_detail('Sérgio Antonio da Silva Almeida', '', 'RN', [])
  = guest_detail('Sérgio Roberto Ruffo', '', 'PR', [])
  = guest_detail('Silvia Maria Fonseca da Silveira Marssuhá', '', 'SP', [])
  = guest_detail('Vander Mendonça', '', 'RN', [])
  = guest_detail('Vitor Hugo de Oliveira', '', 'CE', [])
  = guest_detail('Wilian Natale', '', 'SP', [])
