---
layout: default 
title: Programação
javascript_imports: jquery.fancybox-1.3.1.pack guests
---
%table#programacao
  %tr
    %th HORÁRIOS
    %th
      17/10/2010
      %br
      DOMINGO
    %th
      18/10/2010
      %br
      SEGUNDA
    %th
      19/10/2010
      %br      
      TERÇA
    %th
      20/10/2010
      %br
      QUARTA
    %th 
      21/10/2010
      %br
      QUINTA
    %th
      22/10/2010
      %br
      SEXTA
  %tr
    %th(rowspan="3") 8:00
    %td.bg_color
    %td(rowspan="6" colspan="3") Mini-cursos e Cursos (Salas 1 a 11)
    %td
      %strong Conferência X 
      %br
      Potenciais de frutíferas na produção de biodiesel (coco, dendê, babaçu e palmáceas)
    %td(rowspan="6")
      Curso de Fabricação Caseira de Cerveja de Frutas
      %br
      e
      %br
      Saídas para as
      %br
      Excursões Técnicas
  %tr
    %td.bg_color
    %td
      %strong Conferência XI
      %br
      Funcionalidades das frutíferas na saúde
  %tr
    %td.bg_color
    %td 
      %strong Conferência XII
      %br
      Instrumentação agrícola na fruticultura
  %tr
    %th(rowspan="3") 09:00
    %td.bg_color
    %td
      %strong Mesa Redonda X
      %br
      Casos de sucesso na fruticultura
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XI
      %br
      Revista Brasileira de fruticultura
  %tr
    %td.bg_color
    %td
      %strong Mesa Redonda XII
      %br
      Avaliação da eficiência dos serviços de polinização no incremento da produtividade de frutíferas
  %tr
    %th 10:30
    %td.bg_color
    %td(colspan="4")
      %strong INTERVALO - VISITA AOS ESTANDES
    %td
      %strong INTERVALO
  %tr
    %th 11:00
    %td.bg_color
    %td(colspan="3") Mini-cursos e Cursos (Salas 1 a 11)
    %td Apresentação de Trabalhos Técnicos (Oral e Pôsteres)
    %td Curso de Fabricação Caseira de Cerveja de Frutas
  %tr
    %th 12:00
    %td.bg_color
    %td(colspan="4")
      %strong ALMOÇOS E SIMPÓSIOS STAÉLITES
    %td
      %strong ALMOÇO
  %tr
    %th(rowspan="3") 14:00
    %td.bg_color
    %td
      %strong Conferência I
      %br
      Políticas públicas para a fruticultura
    %td
      %strong Conferência IV
      %br
      Importação e exportação de frutas
    %td
      %strong Conferência VII
      %br
      A citricultura: desafios e oportunidades
    %td(rowspan="6")
      Assembléia da SBF
      %br
      e
      %br
      Curso de Fabricação Caseira de Cerveja de Frutas
    %td(rowspan="8") Excursões Técnicas
  %tr
    %td.bg_color
    %td
      %strong Conferência II
      %br
      Avanços da biotecnologia na fruticultura
    %td
      %strong Conferência V
      %br
      Produção de frutíferas em cultivos protegidos
    %td
      %strong Conferência VIII
      %br
      Nutrição e Adubação de Frutíferas
  %tr
    %td.bg_color
    %td
      %strong Conferência III
      %br
      A fruticultura na EMBRAPA
    %td
      %strong Conferência VI
      %br
      Novos avanços da defesa vegetal do Brasil
    %td
      %strong Conferência IX
      %br
      Aproveitamento de produtos e co-produtos da fruticultura na alimentação 
  %tr
    %th(rowspan="3") 15:00
    %td(rowspan="6")
      %strong CREDENCIAMENTO
    %td
      %strong Mesa Redonda I
      %br
      Potencial de Spondias na fruticultura (umbu, cajá, cajarana)
    %td
      %strong Mesa Redonda IV
      %br
      Novas técnicas da agroinformática na fruticultura
    %td
      %strong Mesa Redonda VII
      %br
      Papel da pesquisa e da extensão na fruticultura
  %tr
    %td
      %strong Mesa Redonda II
      %br
      Alternativas de fruteiras de clima temperado no semi-árido
    %td
      %strong Mesa Redonda V
      %br
      Novos métodos não-destrutivos na avaliação da maturação de frutos
    %td
      %strong Mesa Redonda VIII
      %br
      Solo como elemento de sustentação da fruticultura
  %tr
    %td
      %strong Mesa Redonda III
      %br
      Frutíferas da Amazônia: oportunidade e mercado
    %td
      %strong Mesa Redonda VI
      %br
      Papel das associações na fruticultura
    %td
      %strong Mesa Redonda IX
      %br
      Produção integrada de frutas
  %tr
    %th 16:30
    %td(colspan="4")
      %strong INTERVALO - VISITA AOS ESTANDES
  %tr
    %th 17:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Oral)
    %td(rowspan="2") Curso de Fabricação Caseira de Cerveja de Frutas
  %tr
    %th 18:00
    %td(colspan="3") Apresentação de Trabalhos Técnicos (Pôsteres)
    %td Término das Excursões Técnicas
  %tr
    %th 19:00
    %td 
      %strong SOLENIDADE DE ABERTURA
    %td(colspan="3")
      %strong ENCERRAMENTO DAS ATIVIDADES DO DIA
    %td
      %strong ENCERRAMENTO DO EVENTO E 
      %br
      %strong ENTREGA DE CERTIFICADOS
    %td.bg_color
  %tr
    %th 20:00
    %td Conferência Inaugural
    %td.bg_color(colspan="5")
  %tr
    %th 21:00
    %td Apresentação Cultural e Coquetel
    %td.bg_color(colspan="2")
    %td
      %strong Jantar de Comemoração dos 40 anos da SBF (por adesão)
      %br
      %br
      %strong Sorteio 
      %br
      %strong Jornal da Fruta:
      %br
      01 Pulverizador Arbus 500 da Jacto
    %td.bg_color(colspan="2")

%h2 Mini-cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Cultivo de Fruteiras Orgânicas
    %td 40
    %td 12h
  %tr
    %th 02
    %td Biotecnologia – Cultura de Tecidos
    %td 40
    %td 12h
  %tr
    %th 03
    %td Manejo Integrado  de Doenças
    %td 40
    %td 12h
  %tr
    %th 04
    %td Manejo Integrado de Praga
    %td 40
    %td 12h
  %tr
    %th 05
    %td Processamento mínimo de Fruta
    %td 40
    %td 12h
  %tr
    %th 06
    %td Produção Integrada de Frutas
    %td 40
    %td 12h
  %tr
    %th 07
    %td Fisiologia, qualidade e pós-colheita de frutas
    %td 40
    %td 12h
  %tr
    %th 08
    %td Cultivos de plantas ornamentais: oportunidades e mercados
    %td 40
    %td 12h
  %tr
    %th 09
    %td Cultivo de pequenos frutos vermelhos
    %td 40
    %td 12h
%p Obs.: Os cursos que não obterem o número mínimo de 20 inscritos serão cancelados e os participantes remanejados para outros cursos. 

%h2 Cursos
%table#programacao
  %tr
    %th Itens
    %th Temas
    %th Números de participantes
    %th Carga horária
  %tr
    %th 01
    %td Técnicas de produção de uvas e influência na qualidade do vinho
    %td 40
    %td 20h
  %tr
    %th 02
    %td Fabricação Caseira de Cerveja de Frutas
    %td 40
    %td 20h

%h2 Convidados confirmados
%ul#palestrantes
  = guest_detail('Abel Rebouças', 'reboucas', 'BA', ['Graduado em Agronomia pela Faculdade de Agronomia e Zootecnia Manoel Carlos Gonçalves (1981).','Mestrado em Agronomia (Horticultura) pela Universidade Estadual Paulista - UNESP, Campus Botucatu (1987).','Doutorado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista - UNESP, Campus Jabotical (1988).','Professor Titular/Pleno da Universidade Estadual do Sudoeste da Bahia desde 1982, lotado no Departameto de Fitotecnia e Zootecnia, campus de Vitória da Conquista. ','Ministra a disciplina Fruticultura na graduação e as disciplinas Fruticultura Tropical e Corantes Naturais nos cursos de mestrado em Produção Vegetal e Engenharia de Alimentos na Universidade Estadual do Sudoeste da Bahia, nos campi Vitória da Conquista e Itapetinga, respectivamente. ','Reitor da Universidade Estadual do Sudoeste da Bahia, em dois mandatos, no período de 2002 a 2010. ','Especialista em fruticultura tropical, possui experiência em controle biológico de pragas em fruteiras. ','Participa de vários programas internacionais de cooperação técnica (Guatemala, Bolívia, Haiti, Colômbia, China etc.) por meio da Agência de Cooperação Brasileira do Ministério de Relações Exteriores do Brasil desde 2000.'], 'reboucas.gif')
  = guest_detail('Adriano Henrique do Nascimento Rangle', '', 'RN', ['Possui graduação em Agronomia pela Universidade Federal Rural do Semi-Árido (1986)','Mestrado em Zootecnia pela Universidade Federal de Lavras (1992).','Doutorado em Zootecnia pela Universidade Federal de Viçosa (2005). ','Atualmente é professor adjunto da Universidade Federal do Rio Grande do Norte(UFRN) com atividade de ensino na graduação e na pós-graduação.','Membro titular da comissão de pesquisa(PROPESQ) e comitê de extensão(PROEX) da UFRN .','É revisor científico de Revistas Nacionais e internacionais:','Tem experiência na área de Zootecnia, com ênfase em manejo de animais, principalmente nos seguintes temas: produção de leite, alimentação de vacas leiteiras, qualidade do leite, consumo e digestibilidade,atuando em todas as áreas relacionadas à nutrição e produção de bovinos de leite,cadeia produtiva do leite ,boas práticas agropecuárias,qualidade e segurança de alimentos,certificação de produtos agropecuários, sistema de produção integrada(SAPI) e temas relacionados ao agronegócio'])
  = guest_detail('Afonso Peche Filho', 'afonso-peche', 'SP', ['Graduação em Agronomia pela Escola Superior de Agronomia de Paraguaçu Paulista (1983).','Mestrado em Engenharia Agrícola pela Universidade Estadual de Campinas (1998).','Pesquisador científico, nível VI do Instituto Agronômico de Campinas.','Experiência na área de mecanização, com ênfase em qualidade operacional, manejo e conservação do solo, atuando principalmente nos seguintes temas:plantio direto, gestão da qualidade operacional,horticultura, fruticultura, variabilidade espacial, calagem e fertilização.'], 'afonso-peche.gif')
  = guest_detail('Alexandre Holfman', '', 'RS', ['Graduado em Agronomia pela Universidade Federal de Santa Maria (1990).','Obteve o título de Mestre em Agronomia pela Universidade Federal de Pelotas (1994)','Doutor em Agronomia (Fitotecnia) pela Universidade Federal de Lavras (1999). ','Atualmente é Pesquisador A da Empresa Brasileira de Pesquisa Agropecuária, junto ao Centro Nacional de Pesquisa de Uva e Vinho (Bento Gonçalves, RS), onde também exerce a função de Supervisor de Comunicação e Negócios da Unidade. ','Tem experiência na área de agronomia, com ênfase em fitotecnia de frutíferas de clima temperado, atuando principalmente nos seguintes temas: produção integrada de frutas, produção orgânica de frutas e manejo de pomares de frutíferas de clima temperado'])
  = guest_detail('Amilton Gurgel Guerra', '', 'RN', ['Graduação em Engenharia Agronômica pela Universidade Federal Rural do Semi-Árido (1985).','Mestrado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (1995).','Doutorado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (2001). ','Atualmente é Pesquisador Doutor nivel III e Coordenador de Pesquisa Vegetal da Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN/EMBRAPA.','Membro do Comitê Técnico, consultor da Revista Ciência e Agrotecnologia. ','Tem experiência na área de Agronomia, com ênfase em Fruticultura e Biotecnologia, atuando nas seguintes linhas de pesquisas: fruticultura, biotecnologia, produção vegetal, diagnósticos e gestão de cadeias produtivas.'])
  = guest_detail('Ana Lúcia Gabas', '', 'DF', ['Possui graduação em Engenharia de Alimentos pela Universidade Estadual Paulista Júlio de Mesquita Filho (1995).','Mestrado em Engenharia de Alimentos pela Universidade Estadual de Campinas (1998).','Doutorado em Engenharia de Alimentos pela Universidade Estadual de Campinas (2002).','Livre-Docência pela Universidade de São Paulo (2006). ','Atua como Professora Associada (MS-5) no curso de Engenharia de Alimentos da Universidade de São Paulo (FZEA/USP). ','Tem experiência na área de Ciência e Tecnologia de Alimentos, com ênfase em Engenharia de Alimentos, principalmente nos seguintes temas: secagem de alimentos, reologia de sólidos e líquidos, propriedades termofísicas, sucos e frutas. ','Desde 2008 vem atuando como Assessora Especial do Ministro de Estado da Ciência e Tecnologia em Brasília - DF.'], 'al-gabas.gif')
  = guest_detail('Antonio Baldo Geraldo Martins', '', 'SP', ['Possui graduação em Graduação pela Universidade Estadual Paulista Júlio de Mesquita Filho (1978).','Mestrado em Agronomia pela Universidade Federal de Viçosa (1985).','Doutorado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (1998). ','Atualmente é professor assistente doutor da Universidade Estadual Paulista Júlio de Mesquita Filho. ','Tem experiência na área de Agronomia, com ênfase em Produção de Mudas, atuando principalmente nos seguintes temas: acerola, lichia, propagação, germinação, estaquia e enraizamento.'])
  = guest_detail('Aparecida Claret De Souza', 'claret', 'AM', ['Graduada em agronomia pela Universidade Federal de Lavras UFLA', 'Mestrado e doutorado em Fitotecnia, área de concentração Fruticultura pela Universidade Federal de Viçosa.','Atuação profissional na Empresa Brasileira de Pesquisa Agropecuária –Embrapa, com locação na Unidade Embrapa Amazônia Ocidental, sediada em Manaus, AM.','Prêmio Jaboti em 1998– Livro Fruteiras da Amazônia. Co-editora do Livro: Recursos fitogenéticos na Amazônia Ocidental: conservação.','Pesquisa e utilização. 2001','Editora técnica Livro Boas Práticas Agrícolas da cultura do cupuaçuzeiro, 2007.','De 2003 a 2007 foi membro do Conselho Superior da Fundação de Amparo à pesquisa do Estado do Amazonas (Fapeam)','Agosto de 2001 a Maio de 2003 exerceu o cargo de Chefe Adjunto de pesquisa e Desenvolvimento da Embrapa Amazônia Ocidental','Maio de 2003 a Junho de 2006 exerceu o cargo de Chefe Geral da Embrapa Amazônia Ocidental.','Pesquisadora na área de fruteiras nativas, responsável pelos projetos: Recursos genéticos de frutas nativas da Amazônia Ocidental e Melhoramento genético de cupuaçuzeiro (Theobroma grandiflorum).'])
  = guest_detail('Aureliano Nogueira da Costa', '', 'ES', [])
  = guest_detail('Baldonedo Arthur Napoleão', '', 'MG', [])
  = guest_detail('Carlos Rugierro', '', 'SP', ['Professor titular de fruticultura -1989 ','Pós Doutorado-Unversity of Hawaii-1978-79.','Orientador de mais de 100 alunos, em iniciação cientifica, mestrado e doutorado. ','Vários livros publicados. ','Coordenador de vários simpósios sobre fruticultura, sendo o primeiro evento em várias fruteiras.','Editor Chefe da Revista Brasileira de Fruticultura desde 1998 Sócio Fundador da SBF.'])
  = guest_detail('Celio Kersul do Sacramento', '', 'BA', [])
  = guest_detail('Celso Pommer', '', 'RN', ['Graduado em Engenharia Agronômica pela Universidade de São Paulo (1969).','Doutorado em Ciências pela Universidade Estadual de Campinas (1976).','Pós-doutorado no Serviço de Pesquisa em Agricultura do Departamento de Agricultura dos EUA (1989-1990). ','Pós-doutorado no Istituto per la Viticoltura do governo da Itália (1996). ',' Professor Titular Visitante da Universidade de Brasília (2004/2005).','Atualmente é colaborador da Sociedade Brasileira de Fruticultura e da Sociedade Brasileira de Melhoramento de Plantas. ','Editor Associado, área de Fruticultura, da revista Ceres. ','Professor Titular Visitante da UENF de março de 2007 a fevereiro de 2010, junto ao Laboratório de Melhoramento Genético Vegetal. ','Professor Visitante Sênior, da CAPES, junto a UFERSA, a partir de abril de 2010. ',' Tem experiência na área de Agronomia, com ênfase em Melhoramento Vegetal, atuando principalmente nos seguintes temas: melhoramento genético, videira, viticultura, uva de mesa e fruticultura em geral.'],'celso-pommer.gif')
  = guest_detail('Cesar José Fanton', 'cesar-fanton', 'ES', ['Possui graduação em Agronomia pela Universidade de São Paulo (1981).','Mestrado em Entomologia pela Universidade Federal de Viçosa (1989).','Doutorado em Entomologia pela Universidade Federal de Viçosa (2000).','Atualmente é pesquisador do Instituto Capixaba de Pesquisa, Assistência Técnica e Extensão Rural. ','Tem experiência na área de Agronomia, com ênfase em Entomologia Agrícola, atuando principalmente nos seguintes temas: manejo integrado de pragas, pragas do mamoeiro, pragas do maracujazeiro, doenças do abacaxizeiro e pragas do cafeeiro.'], 'cesar-fanton.gif')
  = guest_detail('Christiane Mendes Cassimiro', 'christiane-mendes', 'PB', ['Graduação em Agronomia pela Universidade Estadual do Sudoeste da Bahia em Vitória da Conquista - BA. ','Mestrado em Produção Vegetal - Área de concentração: Agricultura tropical na Universidade Federal da Paraíba (UFPB – CCA) /Areia-PB. ','ATUAÇÃO PROFISSIONAL: Empresa Estadual de Pesquisa Agropecuária da Paraíba S/A. - EMEPA Função: Pesquisadora II. Trabalha com Fruticultura Tropical, Recursos Genéticos especificamente banco de germoplasma de Cajá (Spondias Mombin L.). Título da Palestra: Recursos genéticos: Situação da Cajazeira (Spondias Mombin L.) no Estado da Paraíba – PB'],'christiane-mendes.gif')
  = guest_detail('Cristiane Elizabeth Costa de Macedo', '', 'RN', [])
  = guest_detail('Daniel Alexandre Neuwald', 'daniel-neuwald', 'ALE', ['Possui graduação em Agronomia (2002).','Mestrado (2004) e doutorado (2008) em Agronomia na área de fisiologia pós-colheita de produtos agrícola, toda formação profissional foi realizada na Universidade Federal de Santa Maria.',' Durante o doutoramento realizou doutorado sanduiche no Kompetenzzentrum für Obstbau - Bodensee (KOB) na Alemanha. ','Já realizou dois pós-doutorados um deles através do cônvenio internacional entre FAPERGS, Rio Grande do Sul e Brasilien-Zentrum, Baden Württenberg no Kompetenzzentrum Obstbau Bodensee (KOB) vínculado a Universität Hohenheim e o outro financiado pelo próprio instituto de pesquisa.',' Atualmente é pesquisador no Kompetenzzentrum Obstbau Bodensee (KOB) na departamento de fisiologia pós-colheita no grupo do Dr. Streif. ','Publicou aproximadamente 90 resumos em eventos nacionais e internacionais, além de 28 artigos científicos e seis em revistas direcionado a fruticultores.','Participou da organização de 6 seminários de pós-colheita (5 na Alemanha e 1 no Brasil) e um também de uma conferencia internacional "Ripening Reguilation and Postharvest Fruit Quality"'],'daniel-neuwald.gif')
  = guest_detail('David Martins', '', 'ES', [])
  = guest_detail('Edivaldo Galdino Ferreira', '', 'PB', [])
  = guest_detail('Eduardo Pargot', '', 'RS', ['GRADUAÇÃO Engenheiro Agrônomo, graduado pela Universidade Federal de Pelotas.','ESPECIALIZAÇÃO/PÓSGRADUAÇÃO: Planejamento Energético Ambiental e Mineral pela URI -Universidade Regional Integrada do Alto Uruguai MBA em Gestão do Agronegócio pela UNISINOS - Universidade do Vale do Rio dos Sinos.','EXPERIÊNCIA PROFISSIONAL: Extensionista Rural da Emater/RS desde 1990. Atividades com "pequenas frutas ou frutas vermelhas" (amora-preta, mirtilo e framboesa) desde 2001. Autor e co-autor de diversas publicações técnicas sobre o assunto. Consultor técnico em pequenas frutas.'])
  = guest_detail('Eduardo Stuchi', 'eduardo-stuchi', 'SP', ['Possui graduação em Agronomia pela Universidade de São Paulo (1985).','Especialização e master em Citricultura pela Universidade Politécnica de Valência (1993).','Mestrado (1996) e doutorado (1999) em Agronomia - Produção Vegetal pela Universidade Estadual Paulista Júlio de Mesquita Filho (UNESP Campus de Jaboticabal). ','Atualmente é pesquisador A da Empresa Brasileira de Pesquisa Agropecuária (Embrapa Mandioca e Fruticultura Tropical).','Diretor científico da Estação Experimental de Citricultura de Bebedouro (EECB). ','Tem experiência na área de Agronomia, com ênfase em Citricultura, atuando principalmente nos seguintes temas: porta-enxertos e variedades, manejo e tratos culturais.'], 'eduardo-stuchi.gif')
  = guest_detail('Elazar Fallik', 'elazar-fallik', 'ISR', [], 'elazar-fallik.gif')
  = guest_detail('Emerson Dias Gonçalves', 'emerson-goncalves', 'MG', ['Possui graduação em Agronomia pela Universidade Federal de Santa Maria (1997).','Mestrado em Agronomia pela Universidade Federal de Pelotas (1999) defendeu dissertação com seguinte titulo: Armazenamento de peras asiáticas (Pyrus serotina Rehder), CV. Nijisseiki, em atmosfera controlada.','Tese de doutorado em Agronomia também pela Universidade Federal de Pelotas (2003) titulo da tese: Variabilidade genética,conservação e ocorrencia de escurecimento de caquis (Diospyrus kaki L.), cv. Fuyu. ','De Agosto a Otubro de 2003 foi professor do curso superior de enologia e viticultura do CEFET de Bento Gonçalves RS. ','Em Novembro de 2003 entrou como bolsista recem doutor na Embrapa Clima Temperado onde trabalhou até Dezembro de 2006 no projeto aprovado pelo CNPQ (Avaliação agronomica e qualidade pós colheita de Cultivares e seleçoes avançadas de Amora preta e mirtilo, para região sul do Rio Grande do Sul).','Foi professor e coordenador do Curso de Agronomia da Universidade Estadual do Piaui Campus/ Corrente-PI (UESPI),no periodo de Março a Novembro 2007.','Atualmente é pesquisador da EPAMIG/Maria da Fé-MG. Atua na area de fruticultura, pos-colheita e qualidade de frutas.','No ano de 2008 realizou o IX Curso Internacional de Especilaização em Olivicultura em Jaen- Espanha.','Durante o periodo de Fevereiro de 2008 a Agosto de 2009 foi Coordenador do NucleoTecnologico Epamig Azeitona e Azeite.'], 'emerson-goncalves.gif')
  = guest_detail('Eudes Almeida Cardoso', '', 'RN', [])
  = guest_detail('Fernando Luis Dutra Cintra', '', 'SE', ['Possui graduação em Agronomia pela Universidade Federal da Bahia (1973).','Mestrado em Ciências do Solo pela Universidade Federal do Rio Grande do Sul (1980).','Doutorado em Agronomia (Solos e Nutrição de Plantas) pela Universidade de São Paulo (1997).',' É pesquisador da Empresa Brasileira de Pesquisa Agropecuária.','Desenvolve suas atividades na Embrapa Tabuleiros Costeiros localizada em Aracaju, SE. ','Tem experiência na área de Física do Solo, atuando principalmente no estudo da coesão dos solos dos tabuleiros costeiros e sistema radicular de culturas perenes e semi-perenes como citros, coqueiro e cana-de-açúcar.'])
  = guest_detail('Flavio Fernandes Júnior', '', 'SP', [])
  = guest_detail('Flavio Zanette', '', 'PR', ['Engenheiro Agrônomo; ', 'Especialização em Agricultura Tropical e Sub-tropical na Itália; ','Mestrado em Fruticultura na UFRGS.','Doutorado e Pós-doutorado na França em Morfogênese e Ecofisiologia de Plantas.','Professor titular sênior de fruticultura, propagação de plantas e morfogênese, no programa de Pós-graduação em Produção Vegetal da UFPR.',' Membro do Conselho Consultivo da SBF.'])
  = guest_detail('Francisco Xavier de Souza', 'francisco-xavier', 'CE', ['Graduado em Engenharia Agronômica, em 1982 pela Universidade Federal Rural do Semi-Árido. ',' Foi responsável técnico pela Agro Knool Ltda, em Assu-RN. ','Pós-graduado, com mestrado e doutorado em Agronomia-Fitotecnia, em 1992 e 2005 pela Universidade Federal do Ceará. ','É pesquisador da Empresa Brasileira de Pesquisa Agropecuária, desde 1985, tendo trabalhado na Embrapa Acre, Embrapa Meio-Norte e atualmente na Embrapa Agroindústria Tropical, em Fortaleza-CE. ','Tem experiência na área de Agronomia, com produção de mudas de fruteiras e cultivos irrigados de milho, feijão, algodão e manga.','Hoje, atua principalmente nas áreas de propagação de plantas e em pesquisas nas técnicas de cultivo para a domesticação da cajazeira (Spondias mombin L.). ','Participa como professor colaborador no curso de graduação em agronomia da UFC na disciplina de Fruticultura e nos de Pós-graduação da UFPB e UFERSA, na diciplina de Fruteiras Nativas.'],'francisco-xavier.gif')
  = guest_detail('Franco Marinho Gomes', '', 'RN', [])
  = guest_detail('François Laurens', '', 'FRA', [])
  = guest_detail('Jeane Martins', '', 'RN', [])
  = guest_detail('Joâo Pedro Valente', '', 'MT', [])
  = guest_detail('José Araujo Dantas', '', 'RN', [])
  = guest_detail('José Carlos Fachinello', '', 'RS', [])
  = guest_detail('José Luiz Petri', '', 'SC', [])
  = guest_detail('Joston Simão de Assis', '', 'PE', [])
  = guest_detail('Laércio Duarte Souza', '', 'BA', [])
  = guest_detail('Laércio Zambolim', '', 'MG', [])
  = guest_detail('Leandro Camargo Neves', '', 'PR', [])
  = guest_detail('Lucia Helena Piedade Kiill', '', 'PE', [])
  = guest_detail('Luciano Silva Souza', '', 'BA', [])
  = guest_detail('Luis Cisnero Zevallos', '', 'EUA', [])
  = guest_detail('Luis Eduardo Correa Antunes', '', 'RS', [])
  = guest_detail('Luiz Carlos Donadio', '', 'SP', [])
  = guest_detail('Luiz Roberto Barcelos', '', 'RN', [])
  = guest_detail('Magdi Ahmed Imbralim Aloufa', '', 'RN', [])
  = guest_detail('Marcelo Picanço', '', 'MG', [])
  = guest_detail('Márcia Maués', '', 'BA', [])
  = guest_detail('Marcos Antônio Moreira', '', 'RN', [])
  = guest_detail('Marcos Eger', '', 'AM', [])
  = guest_detail('Maria do Carmo Bassolis Raseira', '', 'RS', [])
  = guest_detail('Mauro Carneiro', '', 'DF', [])
  = guest_detail('Narendra Narain', '', 'SE', [])
  = guest_detail('Otoniel Ribeiro Duarte', '', 'RR', [])
  = guest_detail('Patricia Coelho De Souza Leão', '', 'PE', [])
  = guest_detail('Paulo Roberto Coelho Lopes', '', 'PE', [])
  = guest_detail('Rafael Pio', '', 'MG', [])
  = guest_detail('Raimundo Braga Sobrinho', '', 'CE', [])
  = guest_detail('Raul Dantas Vieira Neto', '', 'SE', [])
  = guest_detail('Rêmulo de Araújo Carvalho', '', 'PB', [])
  = guest_detail('Ricardo Elesbão Alves', '', 'CE', [])
  = guest_detail('Rômulo da Silva Carvalho', '', 'BA', [])
  = guest_detail('Rosilene Ferreira Souto', '', 'DF', [])
  = guest_detail('Rui Sales Júnior', '', 'RN', [])
  = guest_detail('Sérgio Antonio da Silva Almeida', '', 'RN', [])
  = guest_detail('Sérgio Roberto Ruffo', '', 'PR', [])
  = guest_detail('Silvia Maria Fonseca da Silveira Marssuhá', '', 'SP', [])
  = guest_detail('Vander Mendonça', '', 'RN', [])
  = guest_detail('Vitor Hugo de Oliveira', '', 'CE', [])
  = guest_detail('Wilian Natale', '', 'SP', [])
