---
layout: default
title: Programação
javascript: jquery.fancybox-1.3.1.pack guests
---

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 17/10 - Domingo
    %tr
      %th.hour Horário
      %th.activities Atividades
  %tbody
    %tr
      %th 15:00
      %td Credenciamento
    %tr
      %th 19:00
      %td Solenidade de abertura
    %tr
      %th 20:00
      %td
        %strong Conferência I:
        Avanços na produção de frutas de clima temperado no semiárido brasileiro. <br />
        %strong Conferencista:
        Paulo Roberto Lopes Coelho – Embrapa Semiárido<br />
    %tr
      %th 21:00
      %td Apresentação cultural e coquetel

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 18/10 - Segunda
    %tr
      %th.hour Horário
      %th.activities Atividades
  %tbody
    %tr
      %th(rowspan='9') 08:00
      %td
        %strong Mini-curso 01:
        Cultivo de Fruteiras Orgânicas <br/>
        %strong Coordenador:
        José Araujo Dantas - EMPARN<br/>
        %strong Professor:
        Maria Urbana Corrêa Nunes -  Embrapa Tabuleiros Costeiros<br/>
        %strong Professor:
        Rui Medeiros – Emater/PB 
    %tr
      %td
        %strong Mini-curso 02:
        Biotecnologia – Cultura de Tecidos<br/>
        %strong Coordenador:
        Glauber Henrique de Souza Nunes – UFERSA<br/>
        %strong Professor:
        Ana Cristina Portugal Pinto de Carvalho – Embrapa Tropical<br />
        %strong Professor:
        Maria de Fátima – EMPARN / Laboratório Biotecnologia<br/>
        %strong Professor:
        Cristiane Elizabeth Costa De Macedo - UFRN
    %tr
      %td
        %strong Mini-curso 03:
        Manejo Integrado de Doenças <br/>
        %strong Coordenador:
        Eudes Almeida - UFERSA<br/>
        %strong Professor: 
        José Aires Ventura - INCAPER<br/>
        %strong Professor:
        Laércio Zambolim - UFV<br/>
        %strong Professor:
        Rui Sales Júnior - UFERSA
    %tr
      %td
        %strong Mini-curso 04:
        Manejo Integrado de Praga <br/>
        %strong Coordenador: 
        Jacinto de Luna Batista - UFPB<br/>
        %strong Professor: 
        Marcelo Coutinho Picanço - UFV<br/>
        %strong Professor: 
        Rômulo da Silva Carvalho - CNPMF<br/>
        %strong Professor: 
        César Fanton - INCAPER
    %tr
      %td
        %strong Mini-curso 05: 
        Processamento mínimo de Fruta <br/>
        %strong Professor: 
        Raimundo Marcelino da Silva Neto - Embrapa Agroindústria Tropical
    %tr
      %td
        %strong Mini-curso 06: 
        Produção Integrada de Frutas <br/>
        %strong Professor: 
        David dos Santos Martins - INCAPER<br/>
        %strong Professor: 
        Luciano Gebler - CNPUV<br/>
        %strong Professor:
        Zilton José Maciel Cordeiro - Embrapa Mandioca Tropical
    %tr
      %td
        %strong Mini-curso 07:  
        Fisiologia, qualidade e pós-colheita de frutas <br/>
        %strong Coordenador: 
        Leandro Camargo Neves - UFRR<br/>
        %strong Professor: 
        Daniel Alexandre Neuwald – COB - Alemanha<br/>
        %strong Professor: 
        Afonso Peche Filho - IAC<br/>
        %strong Professor: 
        Luis Cisnero Zevallos – TAMU - EUA
    %tr
      %td
        %strong Mini-curso 08: 
        Cultivo de pequenos frutos vermelhos<br/>
        %strong Coordenador:
        Rafael Pio - UFLA<br />
        %strong Professor: 
        Flávio Fernandes Júnior - APTA Regional Leste Paulista<br/>
        %strong Professor: 
        Maria do Carmo Bassols Raseira - Embrapa Clima Temperado<br/>
        %strong Professor: 
        Luis Eduardo Correa Antunes - Embrapa Clima Temperado<br/>
        %strong Professor: 
        Eduardo Pagot – EMATER<br/>
        %strong Professor: 
        Emerson Dias Gonçalves - EPAMIG
    %tr
      %td
        %strong Curso 01: 
        Técnicas de produção de uvas e influência na qualidade do vinho <br/>
        %strong Coordenador: 
        Vander Mendonça - UFERSA<br/>
        %strong Professor: 
        Celso Pommer- UFERSA<br/>
        %strong Professor: 
        Patrícia Coelho de Souza Leão – Embrapa CPATSA<br/>
        %strong Professor: 
        Jeane Martins - EMPARN
    %tr
      %th 10:30
      %td Intervalo - visita aos estandes
    %tr
      %th 11:00
      %td Mini-cursos e cursos 
    %tr
      %th 12:00
      %td Almoços e simpósios satélites
    %tr
      %th(rowspan='2') 14:00
      %td
        %strong Conferência II: 
        Avanços da biotecnologia na fruticultura<br/>
        %strong Conferencista: 
        Magdi Ahmed Imbralim Aloufa - UFRN<br/>
        %strong Presidente: 
        Maria Cléa Santos Alves - EMPARN
    %tr
      %td
        %strong Conferência III: 
        A fruticultura na EMBRAPA<br/>
        %strong Conferencista: 
        Domingo Haroldo Reinhardt – Embrapa Mandioca<br/>
        %strong Presidente:
        Francisco das Chagas Medeiros de Lima - EMPARN
    %tr
      %th(rowspan='3') 15:00
      %td
        %strong Mesa Redonda I: 
        Potencial de Spondias na fruticultura (umbu, cajá, cajarana etc.)<br/>
        %strong Debatedor: 
        Francisco Xavier de Souza - EMBRAPA CNPAT<br/>
        %strong Debatedor: 
        Christiane Mendes Cassimiro - EMEPA<br/>
        %strong Debatedor: 
        Celio Kersul do Sacramento - UESC<br/>
        %strong Moderador: 
        Narendra Narain - CNPQ
    %tr
      %td
        %strong Mesa Redonda II: 
        Alternativas de fruteiras de clima  temperado no semi-árido<br/>
        %strong Debatedor: 
        Celso Pommer - UFERSA<br/>
        %strong Debatedor: 
        Antonio Baldo Geraldo Martins - UNESP<br/>
        %strong Debatedor: 
        Paulo Roberto Coelho Lopes - EMBRAPA Semiárido<br/>
        %strong Moderador: 
        Jose Luis Petri - SBF
    %tr
      %td
        %strong Mesa Redonda III: 
        Frutíferas da Amazônia: oportunidades e mercado<br/>
        %strong Debatedor: 
        Aparecida Claret De Souza - EMBRAPA CPAA<br/>
        %strong Debatedor: 
        Otoniel Ribeiro Duarte - EMBRAPA CPAFRR<br/>
        %strong Debatedor: 
        Raul Dantas Vieira Neto - ENDAGRO<br/>
        %strong Moderador: 
        Leandro Camargo Neves - UFRR
    %tr
      %th 16:30
      %td Intervalo - visita aos estandes
    %tr
      %th 16:40
      %td Apresentação de Trabalhos Técnicos (Oral)
    %tr
      %th 18:10
      %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %tr
      %th 19:00
      %td Encerramento das atividades do dia

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 19/10 - Terça
    %tr
      %th.hour Horário
      %th.activities Atividades
  %tbody
    %tr
      %th 08:00
      %td Mini-cursos e cursos
    %tr
      %th 10:30
      %td Intervalo - visita aos estandes
    %tr
      %th 11:00
      %td Mini-cursos e cursos
    %tr
      %th 12:00
      %td Almoços e simpósios satélites
    %tr
      %th(rowspan='3') 14:00
      %td
        %strong Conferência IV:
        Avanço do melhoramento genético na fruticultura<br />
        %strong Conferencista:  
        François Laurens - ANGERS - França<br/>
        %strong Presidente: 
        José Luiz Petri - SBF
    %tr
      %td
        %strong Conferência V: 
        Produção de frutíferas em cultivos protegidos<br/>
        %strong Conferencista: 
        Sérgio Roberto Ruffo - UEL<br/>
        %strong Presidente: 
        Vander Mendonça - UFERSA
    %tr
      %td
        %strong Conferência VI: 
        Novos avanços da defesa vegetal do Brasil<br/>
        %strong Presidente: 
        Aureliano Nogueira da Costa - FAPES
    %tr
      %th(rowspan='3') 15:00
      %td
        %strong Mesa Redonda IV: 
        Novas técnicas da agroinformática na fruticultura<br/>
        %strong Debatedor: 
        Silvia Maria Fonseca da Silveira Marssuhá - EMBRAPA CNPTIA<br/>
        %strong Debatedor: 
        Sérgio Antonio da Silva - LIVISAL<br/>
        %strong Debatedor:
        José Maurício C. Fernandes - Embrapa trigo<br />
        %strong Moderador: 
        UFERSA 
    %tr
      %td
        %strong Mesa Redonda V: 
        Novos métodos não-destrutivos na avaliação da maturação de frutos<br/>
        %strong Debatedor: 
        Jose Dalton Cruz Pessoa - CNPDIA<br />
        %strong Debatedor: 
        José Carlos Fachinello - UFPEL<br/>
        %strong Debatedor: 
        Joston Simão de Assis - Embrapa Semi-Árido<br />
        %strong Moderador: 
        Edvan Alves Chagas - Embrapa CPAFRR
    %tr
      %td
        %strong Mesa Redonda VI: 
        Papel das associações na fruticultura<br/>
        %strong Debatedor: 
        Wilson Galdino de Andrade - COEX<br/>
        %strong Debatedor: 
        Moacyr Saraiva Fernandes - IBRAF<br/>
        %strong Moderador: 
        Luiz Carlos Donadio - UNESP
    %tr
      %th 16:30
      %td Intervalo - visita aos estandes
    %tr
      %th 16:40
      %td Apresentação de Trabalhos Técnicos (Oral)
    %tr
      %th 18:10
      %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %tr
      %th 19:00
      %td Encerramento das atividades do dia

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 20/10 - Quarta
    %tr
      %th.hour Horário
      %th.activities Atividades
  %tbody
    %tr
      %th 08:00
      %td Mini-cursos e cursos
    %tr
      %th 10:30
      %td Intervalo - visita aos estandes
    %tr
      %th 11:00
      %td Mini-cursos e cursos
    %tr
      %th 12:00
      %td Almoços e simpósios satélites
    %tr
      %th(rowspan='3') 14:00
      %td 
        %strong Conferência VII: 
        A citricultura: desafios e oportunidades<br/>
        %strong Conferencista:
        Orlando Sampaio Passos - EMBRAPA<br />
        %strong Presidente: 
        Jose Luis Petri - SBF
    %tr
      %td
        %strong Conferência VIII:
        Nutrição e Adubação de Frutíferas<br/>
        %strong Conferencista:
        Wilian Natale - UNESP<br/>
        %strong Presidente: 
        José Francismar de Medeiros – UFERSA
    %tr
      %td
        %strong Conferência IX:
        Aproveitamento de produtos e co-produtos da fruticultura na alimentação<br/>
        %strong Conferencista: 
        Ana Lúcia Gabas - USP<br/>
        %strong Presidente: 
        Adriano Henrique do Nascimento Rangel - UFRN
    %tr
      %th(rowspan='3') 15:00
      %td
        %strong Mesa Redonda VII: 
        Papel da pesquisa e da extensão na fruticultura<br/>
        %strong Debatedor: 
        Mario Amorim - EMATER - RN<br/>
        %strong Debatedor: 
        Baldonedo Artur Napoleão - EPAMIG<br/>
        %strong Moderador: 
        Abel Rebouças - UESB
    %tr
      %td
        %strong Mesa Redonda VIII : 
        Solo como elemento de sustentação da fruticultura<br/>
        %strong Debatedor: 
        José Simplício de Holand - EMPARN<br/>
        %strong Debatedor: 
        Luciano Silva Souza - UFBA<br/>
        %strong Debatedor: 
        Laércio Duarte Souza - EMBRAPA CNPMF<br/>
        %strong Moderador: 
        Fernando Luis Dutra Cintra - EMBRAPA CPATC
    %tr
      %td
        %strong Mesa Redonda IX : 
        Produção integrada de frutas<br/>
        %strong Debatedor: 
        Ana Paula Artimonte Vaz - Embrapa Transferência de Tecnologia<br />
        %strong Debatedor:  
        Raimundo Braga Sobrinho - Embrapa Tropical<br/>
        %strong Debatedor:
        Vitor Hugo de Oliveira - Embrapa CNPAT<br />
        %strong Moderador: 
        Rosilene Ferreira Souto - MAPA
    %tr
      %th 16:30
      %td Intervalo - visita aos estandes
    %tr
      %th 16:40
      %td Apresentação de Trabalhos Técnicos (Oral)
    %tr
      %th 18:10
      %td Apresentação de Trabalhos Técnicos (Pôsteres)
    %tr
      %th 19:00
      %td Encerramento das atividades do dia
    %tr
      %th 21:00
      %td 
        Jantar por Adesão em Comemoração dos 40 anos da SBF<br/>
        Sorteio - Jornal da Fruta - 01 Pulverizador Arbus  - 500 Jacto

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 21/10 - Quinta
    %tr
      %th.hour Horário
      %th.activities Atividades
  %tbody
    %tr
      %th(rowspan='3') 08:00
      %td
        %strong Conferência X: 
        A utilização de semioquimicos na fruticultura: Avanços e oportunidades<br />
        %strong Presidente: 
        Eduardo Stuchi - EMBRAPA Estação Experimental
    %tr
      %td
        %strong Conferência XI: 
        Funcionalidade das frutíferas na saúde<br/>
        %strong Conferencista:
        Ricardo Elesbão - EMBRAPA CNPAT<br/>
        %strong Presidente:  
        Márcia Vizzoto - EMBRAPA CPACT
    %tr
      %td
        %strong Conferência XII: 
        Instrumentação agrícola na fruticultura<br/>
        %strong Conferencista: 
        Marcos David Ferreira - EMBRAPA CNPDIA<br/>
        %strong Presidente: 
        Flavio Zanette - UFPR
    %tr
      %th(rowspan='4') 09:00
      %td
        %strong Mesa Redonda X: 
        Casos de sucessos na fruticultura<br/>
        %strong Debatedor: 
        Luiz Roberto Barcelos - Agrícola Famosa<br/>
        %strong Debatedor:
        Ubiratan Carvalho - Comércio Justo Sebrae<br />
        %strong Debatedor:
        Alceu Colares - Abanorte - Sebrae<br />
        %strong Moderador: 
        Franco Marinho - SEBRAE - RN
    %tr
      %td
        %strong Mesa Redonda XI: 
        Revista Brasileira de Fruticultura<br/>
        %strong Debatedor: 
        Narendra Narain - CNPQ<br/>
        %strong Debatedor: 
        Moacir Pasqual - CAPES<br/>
        %strong Debatedor: 
        João Pedro Valente - UFMT<br/>
        %strong Moderador: 
        Carlos Rugierro - UNESP
    %tr
      %td
        %strong Mesa Redonda XII: 
        Avaliação da eficiência dos serviços de polinização no incremento da produtividade de frutíferas<br/>
        %strong Debatedor: 
        Blandina Felipe Viana - UFBA<br/>
        %strong Debatedor: 
        Márcia Motta Maués - EMBRAPA Amazônia Oriental<br/>
        %strong Debatedor:  
        Lucia Helena Piedade Kiill - EMBRAPA Semiárido<br/>
        %strong Moderador: 
        Gerbson Mendonça - UFRN
    %tr
      %td
        %strong Mesa Redonda XIII: 
        A Fruticultura no Mundo: Oportunidades e Desafios.<br/>
        %strong Debatedor: 
        François Laurens - ANGERS - França<br/>
        %strong Debatedor: 
        Daniel Alexandre Neuwald - COB - Alemanha<br/>
        %strong Debatedor: 
        Luis Cisnero Zevallos - TAMU - EUA<br/>
        %strong Debatedor:
        Ricardo Elesbão Alves - CNPAT<br />
        %strong Moderador: 
        Leandro de Camargo Neves - UFRR
    %tr
      %th 10:30
      %td Intervalo - visita aos estandes
    %tr
      %th 10:40
      %td Apresentação de Trabalhos Técnicos (Oral e Pôsteres)
    %tr
      %th 12:00
      %td Apresentação de Trabalhos Técnicos (Oral e Pôsteres)
    %tr
      %th 14:00
      %td Assembléia da SBF e Cursos
    %tr
      %th 16:30
      %td Intervalo - visita aos estandes
    %tr
      %th 17:00
      %td Cursos
    %tr
      %th 19:00
      %td Encerramento do evento e entrega de certificados

%table.programacao
  %thead
    %tr.date
      %th(colspan='2') 22/10 - Sexta
    %tr
      %th.hour Horário
      %th.activities Atividades
  %tbody
    %tr
      %th 08:00
      %td Cursos e Saídas para as Excursões Técnicas
    %tr
      %th 10:30
      %td Intervalo
    %tr
      %th 11:00
      %td Cursos
    %tr
      %th 12:00
      %td Almoço
    %tr
      %th 14:00
      %td Excursões Técnicas
    %tr
      %th 18:00
      %td Término das Excursões Técnicas

%h2 Cursos e Mini-cursos
%table.programacao
  %tr
    %th Código
    %th Tema das atividades
    %th Carga horária
    %th Número de vagas
    %th Salas
    %th Localização da sala
  %tr
    %th 01
    %td Técnicas de produção de uvas e influência na qualidade do vinho
    %td 20h
    %td 60
    %td Pipa
    %td Bloco - A
  %tr
    %th 01
    %td Cultivo de Fruteiras Orgânicas
    %td 12h
    %td 60
    %td Maracajaú
    %td Bloco - A
  %tr
    %th 02
    %td Biotecnologia – Cultura de Tecidos
    %td 12h
    %td 60
    %td Maracajaú
    %td Bloco - A
  %tr
    %th 03
    %td Manejo Integrado  de Doenças
    %td 12h
    %td 60
    %td Ponta Negra
    %td Bloco - C
  %tr
    %th 04
    %td Manejo Integrado de Praga
    %td 12h
    %td 60
    %td Ponta Negra
    %td Bloco - C
  %tr
    %th 05
    %td Processamento mínimo de Fruta
    %td 12h
    %td 60
    %td Camurupim
    %td Bloco - C
  %tr
    %th 06
    %td Produção Integrada de Frutas
    %td 12h
    %td 60
    %td Camurupim
    %td Bloco - C
  %tr
    %th 07
    %td Fisiologia, qualidade e pós-colheita de frutas
    %td 12h
    %td 90
    %td Baia Formosa
    %td Bloco - A
  %tr
    %th 08
    %td Cultivo de pequenos frutos vermelhos
    %td 12h
    %td 40
    %td Zumbi
    %td Bloco - A

%p Obs.: Os cursos que não obterem o número mínimo de 20 inscritos serão cancelados e os participantes remanejados para outros cursos. 

%h2 Convidados confirmados
%ul#palestrantes
  = guest_detail('Abel Rebouças', 'reboucas', 'BA', ['Graduado em Agronomia pela Faculdade de Agronomia e Zootecnia Manoel Carlos Gonçalves (1981).','Mestrado em Agronomia (Horticultura) pela Universidade Estadual Paulista - UNESP, Campus Botucatu (1987).','Doutorado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista - UNESP, Campus Jabotical (1988).','Professor Titular/Pleno da Universidade Estadual do Sudoeste da Bahia desde 1982, lotado no Departameto de Fitotecnia e Zootecnia, campus de Vitória da Conquista. ','Ministra a disciplina Fruticultura na graduação e as disciplinas Fruticultura Tropical e Corantes Naturais nos cursos de mestrado em Produção Vegetal e Engenharia de Alimentos na Universidade Estadual do Sudoeste da Bahia, nos campi Vitória da Conquista e Itapetinga, respectivamente. ','Reitor da Universidade Estadual do Sudoeste da Bahia, em dois mandatos, no período de 2002 a 2010. ','Especialista em fruticultura tropical, possui experiência em controle biológico de pragas em fruteiras. ','Participa de vários programas internacionais de cooperação técnica (Guatemala, Bolívia, Haiti, Colômbia, China etc.) por meio da Agência de Cooperação Brasileira do Ministério de Relações Exteriores do Brasil desde 2000.'], 'reboucas.gif')
  = guest_detail('Adriano Henrique do Nascimento Rangle', 'adriano-rangle', 'RN', ['Possui graduação em Agronomia pela Universidade Federal Rural do Semi-Árido (1986)','Mestrado em Zootecnia pela Universidade Federal de Lavras (1992).','Doutorado em Zootecnia pela Universidade Federal de Viçosa (2005). ','Atualmente é professor adjunto da Universidade Federal do Rio Grande do Norte(UFRN) com atividade de ensino na graduação e na pós-graduação.','Membro titular da comissão de pesquisa(PROPESQ) e comitê de extensão(PROEX) da UFRN .','É revisor científico de Revistas Nacionais e internacionais:','Tem experiência na área de Zootecnia, com ênfase em manejo de animais, principalmente nos seguintes temas: produção de leite, alimentação de vacas leiteiras, qualidade do leite, consumo e digestibilidade,atuando em todas as áreas relacionadas à nutrição e produção de bovinos de leite,cadeia produtiva do leite ,boas práticas agropecuárias,qualidade e segurança de alimentos,certificação de produtos agropecuários, sistema de produção integrada(SAPI) e temas relacionados ao agronegócio'])
  = guest_detail('Afonso Peche Filho', 'afonso-peche', 'SP', ['Graduação em Agronomia pela Escola Superior de Agronomia de Paraguaçu Paulista (1983).','Mestrado em Engenharia Agrícola pela Universidade Estadual de Campinas (1998).','Pesquisador científico, nível VI do Instituto Agronômico de Campinas.','Experiência na área de mecanização, com ênfase em qualidade operacional, manejo e conservação do solo, atuando principalmente nos seguintes temas:plantio direto, gestão da qualidade operacional,horticultura, fruticultura, variabilidade espacial, calagem e fertilização.'], 'afonso-peche.gif')
  = guest_detail('Alexandre Holfman', 'alexandre-holfman', 'RS', ['Graduado em Agronomia pela Universidade Federal de Santa Maria (1990).','Obteve o título de Mestre em Agronomia pela Universidade Federal de Pelotas (1994)','Doutor em Agronomia (Fitotecnia) pela Universidade Federal de Lavras (1999). ','Atualmente é Pesquisador A da Empresa Brasileira de Pesquisa Agropecuária, junto ao Centro Nacional de Pesquisa de Uva e Vinho (Bento Gonçalves, RS), onde também exerce a função de Supervisor de Comunicação e Negócios da Unidade. ','Tem experiência na área de agronomia, com ênfase em fitotecnia de frutíferas de clima temperado, atuando principalmente nos seguintes temas: produção integrada de frutas, produção orgânica de frutas e manejo de pomares de frutíferas de clima temperado'])
  = guest_detail('Amilton Gurgel Guerra', 'amilton-guerra', 'RN', ['Graduação em Engenharia Agronômica pela Universidade Federal Rural do Semi-Árido (1985).','Mestrado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (1995).','Doutorado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (2001). ','Atualmente é Pesquisador Doutor nivel III e Coordenador de Pesquisa Vegetal da Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN/EMBRAPA.','Membro do Comitê Técnico, consultor da Revista Ciência e Agrotecnologia. ','Tem experiência na área de Agronomia, com ênfase em Fruticultura e Biotecnologia, atuando nas seguintes linhas de pesquisas: fruticultura, biotecnologia, produção vegetal, diagnósticos e gestão de cadeias produtivas.'])
  = guest_detail('Ana Lúcia Gabas', 'ana-lucia', 'DF', ['Possui graduação em Engenharia de Alimentos pela Universidade Estadual Paulista Júlio de Mesquita Filho (1995).','Mestrado em Engenharia de Alimentos pela Universidade Estadual de Campinas (1998).','Doutorado em Engenharia de Alimentos pela Universidade Estadual de Campinas (2002).','Livre-Docência pela Universidade de São Paulo (2006). ','Atua como Professora Associada (MS-5) no curso de Engenharia de Alimentos da Universidade de São Paulo (FZEA/USP). ','Tem experiência na área de Ciência e Tecnologia de Alimentos, com ênfase em Engenharia de Alimentos, principalmente nos seguintes temas: secagem de alimentos, reologia de sólidos e líquidos, propriedades termofísicas, sucos e frutas. ','Desde 2008 vem atuando como Assessora Especial do Ministro de Estado da Ciência e Tecnologia em Brasília - DF.'], 'al-gabas.gif')
  = guest_detail('Antonio Baldo Geraldo Martins', 'antonio-martins', 'SP', ['Possui graduação em Graduação pela Universidade Estadual Paulista Júlio de Mesquita Filho (1978).','Mestrado em Agronomia pela Universidade Federal de Viçosa (1985).','Doutorado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (1998). ','Atualmente é professor assistente doutor da Universidade Estadual Paulista Júlio de Mesquita Filho. ','Tem experiência na área de Agronomia, com ênfase em Produção de Mudas, atuando principalmente nos seguintes temas: acerola, lichia, propagação, germinação, estaquia e enraizamento.'])
  = guest_detail('Aparecida Claret De Souza', 'claret', 'AM', ['Graduada em agronomia pela Universidade Federal de Lavras UFLA', 'Mestrado e doutorado em Fitotecnia, área de concentração Fruticultura pela Universidade Federal de Viçosa.','Atuação profissional na Empresa Brasileira de Pesquisa Agropecuária –Embrapa, com locação na Unidade Embrapa Amazônia Ocidental, sediada em Manaus, AM.','Prêmio Jaboti em 1998– Livro Fruteiras da Amazônia. Co-editora do Livro: Recursos fitogenéticos na Amazônia Ocidental: conservação.','Pesquisa e utilização. 2001','Editora técnica Livro Boas Práticas Agrícolas da cultura do cupuaçuzeiro, 2007.','De 2003 a 2007 foi membro do Conselho Superior da Fundação de Amparo à pesquisa do Estado do Amazonas (Fapeam)','Agosto de 2001 a Maio de 2003 exerceu o cargo de Chefe Adjunto de pesquisa e Desenvolvimento da Embrapa Amazônia Ocidental','Maio de 2003 a Junho de 2006 exerceu o cargo de Chefe Geral da Embrapa Amazônia Ocidental.','Pesquisadora na área de fruteiras nativas, responsável pelos projetos: Recursos genéticos de frutas nativas da Amazônia Ocidental e Melhoramento genético de cupuaçuzeiro (Theobroma grandiflorum).'])
  = guest_detail('Aureliano Nogueira da Costa', 'aureliano-costa', 'ES', ['Possui graduação em Agronomia pela Universidade Federal de Viçosa (1981).','Mestrado em Fitotecnia pela Universidade Federal de Viçosa (1984).','Doutorado em Solos e Nutrição de Plantas pela Universidade Federal de Viçosa (1993). ','Atualmente é pesquisador do Instituto Capixaba de Pesquisa, Assistência Técnica e Extensão Rural.','Professor doutor das Faculdades Integradas Espírito Santenses, professor e pesquisador do programa de pós-graduação da Universidade Federal do Espírito Santo. ','Tem experiência na área de Agronegócios com ênfase em Fertilidade do Solo, nutrição de plantas e adubação, atuando principalmente nos seguintes temas: nutrição, fertilidade, adubação, DRIS, diagnose foliar, biossólido, engenharia ambiental, pesquisa aplicada e metodologia da pesquisa'], 'aureliano-costa.gif')
  = guest_detail('Baldonedo Arthur Napoleão', 'baldonedo-napoleao', 'MG', ['Presidente do CONSEPA – Conselho Nacional dos Sistemas Estaduais de Pesquisa Agropecuária','Presidente da EPAMIG – Empresa de Pesquisa Agropecuária de Minas Gerais','Professor Aposentado da UFSJ – Universidade Federal de São João Del Rei','Administrador Público formado pela FGV – Fundação Getúlio Vargas com Mestrado na Universidade da Flórida – EUA'], 'baldonedo-napoleao.gif')
  = guest_detail('Blandina Felipe Viana', 'blandina-viana', 'BA',['Bolsista de Produtividade em Pesquisa 1D do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq).', 'Possui graduação em Ciências Biológicas (1983) e em Engenharia Agronômica (1981), pela Universidade de Brasília.',' Mestrado (1992) e doutorado (1999) em Ecologia, pela Universidade de São Paulo. ','Realizou estágio pós-doutoral na University of Guelph, Canadá (2003-2004), em Ecologia da polinização e conservação de polinizadores. * Atualmente exerce a função de Professora Adjunto IV no Instituto de Biologia, da Universidade Federal da Bahia, aonde atua como docente no curso de Graduação em Ciências Biológicas e nos Programas de Pós-Graduação em Ecologia e Biomonitoramento e em Diversidade Animal. ','Na pós-graduação atua ainda como docente colaboradora nos Programas de PG em Botânica e em Modelagem em Ciências da Terra e do Ambiente, da Universidade Estadual de Feira de Santana.','Coordenou o Programa de Pós-Graduação em Ecologia e Biomonitoramento do IBUFBA no período de 2005 a 2007. ','Colabora como consultora ad hoc em diversos periódicos especializados nacionais e internacionais.', 'Tem experiência na área de Ecologia, com ênfase em Ecologia de Comunidades de visitantes florais e em Ecologia da interação planta-polinizador, e em Biologia e manejo de Abelhas.'],'blandina-viana.gif')
  = guest_detail('Carlos Rugierro', 'carlos-rugierro', 'SP', ['Professor titular de fruticultura -1989 ','Pós Doutorado-Unversity of Hawaii-1978-79.','Orientador de mais de 100 alunos, em iniciação cientifica, mestrado e doutorado. ','Vários livros publicados. ','Coordenador de vários simpósios sobre fruticultura, sendo o primeiro evento em várias fruteiras.','Editor Chefe da Revista Brasileira de Fruticultura desde 1998 Sócio Fundador da SBF.'])
  = guest_detail('Celio Kersul do Sacramento', 'celio-kersul', 'BA', ['Possui graduação em pela UNIVERSIDADE FEDERAL DE VIÇOSA (1975).','Mestrado em Fitotecnia (Produção Vegetal) pela UNIVERSIDADE FEDERAL DE VIÇOSA (1979).','Doutorado em Produção Vegetal pela UNIVERSIDADE ESTADUAL PAULISTA- FACULDADE DE CIENCIAS AGRÁRIAS E VETERINARIA (1996). ','Atualmente é professor PLENO da Universidade Estadual de Santa Cruz, onde atua no curso de Agronomia e Mestrado em Produção Vegetal. ','É Coordenador do Grupo de Pesquisas CULTIVOS TROPICAIS E AGROINDUSTRIA. ','Atua como pesquisador nas áreas de Fruticultura e Especiarias com enfase em manejo e tratos culturais, propagação e fenologia de plantas. * É autor de 3 livros e diversos capítulos de livros, além de artigos em periódicos científicos.','É revisor das revistas: Magistra, Revista Brasileira de Fruticultura e Revista de Ciências Agrárias.Consultor Ad ´hoc da Fundação de Apoio à Pesquisa do Estado de São Paulo (FAPESP).'], 'celio-kersul.gif')
  = guest_detail('Celso Pommer', 'celso-pommer', 'RN', ['Graduado em Engenharia Agronômica pela Universidade de São Paulo (1969).','Doutorado em Ciências pela Universidade Estadual de Campinas (1976).','Pós-doutorado no Serviço de Pesquisa em Agricultura do Departamento de Agricultura dos EUA (1989-1990). ','Pós-doutorado no Istituto per la Viticoltura do governo da Itália (1996). ',' Professor Titular Visitante da Universidade de Brasília (2004/2005).','Atualmente é colaborador da Sociedade Brasileira de Fruticultura e da Sociedade Brasileira de Melhoramento de Plantas. ','Editor Associado, área de Fruticultura, da revista Ceres. ','Professor Titular Visitante da UENF de março de 2007 a fevereiro de 2010, junto ao Laboratório de Melhoramento Genético Vegetal. ','Professor Visitante Sênior, da CAPES, junto a UFERSA, a partir de abril de 2010. ',' Tem experiência na área de Agronomia, com ênfase em Melhoramento Vegetal, atuando principalmente nos seguintes temas: melhoramento genético, videira, viticultura, uva de mesa e fruticultura em geral.'],'celso-pommer.gif')
  = guest_detail('Cesar José Fanton', 'cesar-fanton', 'ES', ['Possui graduação em Agronomia pela Universidade de São Paulo (1981).','Mestrado em Entomologia pela Universidade Federal de Viçosa (1989).','Doutorado em Entomologia pela Universidade Federal de Viçosa (2000).','Atualmente é pesquisador do Instituto Capixaba de Pesquisa, Assistência Técnica e Extensão Rural. ','Tem experiência na área de Agronomia, com ênfase em Entomologia Agrícola, atuando principalmente nos seguintes temas: manejo integrado de pragas, pragas do mamoeiro, pragas do maracujazeiro, doenças do abacaxizeiro e pragas do cafeeiro.'], 'cesar-fanton.gif')
  = guest_detail('Christiane Mendes Cassimiro', 'christiane-mendes', 'PB', ['Graduação em Agronomia pela Universidade Estadual do Sudoeste da Bahia em Vitória da Conquista - BA. ','Mestrado em Produção Vegetal - Área de concentração: Agricultura tropical na Universidade Federal da Paraíba (UFPB – CCA) /Areia-PB. ','ATUAÇÃO PROFISSIONAL: Empresa Estadual de Pesquisa Agropecuária da Paraíba S/A. - EMEPA Função: Pesquisadora II. Trabalha com Fruticultura Tropical, Recursos Genéticos especificamente banco de germoplasma de Cajá (Spondias Mombin L.). Título da Palestra: Recursos genéticos: Situação da Cajazeira (Spondias Mombin L.) no Estado da Paraíba – PB'],'christiane-mendes.gif')
  = guest_detail('Cristiane Elizabeth Costa de Macedo', 'cristiane-macedo', 'RN', ['Possui graduação em Ciencias Biologicas Bacharelado pela Universidade Federal do Rio Grande do Norte (1985).',' Graduação em Ciencias Biologicas Licenciatura pela Universidade Federal do Rio Grande do Norte (1986).','Mestrado em Diplome D\'etudes Approfondies En Biologie - Universite Catholique de Louvain (1993).','Doutorado em Doctorat En Science - Universite Catholique de Louvain (1998).','Atualmente é professor adjunto iv da Universidade Federal do Rio Grande do Norte. '],'Tem experiência na área de Botânica, com ênfase em Fisiologia de Estresses Abioticos, atuando principalmente nos seguintes temas: salinidade e deficit hidrico.')
  = guest_detail('Daniel Alexandre Neuwald', 'daniel-neuwald', 'ALE', ['Possui graduação em Agronomia (2002).','Mestrado (2004) e doutorado (2008) em Agronomia na área de fisiologia pós-colheita de produtos agrícola, toda formação profissional foi realizada na Universidade Federal de Santa Maria.',' Durante o doutoramento realizou doutorado sanduiche no Kompetenzzentrum für Obstbau - Bodensee (KOB) na Alemanha. ','Já realizou dois pós-doutorados um deles através do cônvenio internacional entre FAPERGS, Rio Grande do Sul e Brasilien-Zentrum, Baden Württenberg no Kompetenzzentrum Obstbau Bodensee (KOB) vínculado a Universität Hohenheim e o outro financiado pelo próprio instituto de pesquisa.',' Atualmente é pesquisador no Kompetenzzentrum Obstbau Bodensee (KOB) na departamento de fisiologia pós-colheita no grupo do Dr. Streif. ','Publicou aproximadamente 90 resumos em eventos nacionais e internacionais, além de 28 artigos científicos e seis em revistas direcionado a fruticultores.','Participou da organização de 6 seminários de pós-colheita (5 na Alemanha e 1 no Brasil) e um também de uma conferencia internacional "Ripening Reguilation and Postharvest Fruit Quality"'],'daniel-neuwald.gif')
  = guest_detail('David Corrêa Martins Júnior', 'david-junior', 'ES', ['Possui Bacharelado (2001), Mestrado (2004) e Doutorado (2008) em Ciência da Computação pelo Instituto de Matemática e Estatística - Universidade de São Paulo (IME-USP),','Tendo feito em 2007 um estágio de doutorado (sandwich) de 1 ano no Genomic Signal Processing Laboratory - Texas A&M University - EUA.','Tem experiência na área de Ciência da Computação, com ênfase em Metodologia e Técnicas da Computação, atuando principalmente em reconhecimento de padrões, visão computacional e bioinformática, incluindo identificação de redes de regulação gênica'])
  = guest_detail('Edivaldo Galdino Ferreira', 'edivaldo-ferreira', 'PB', ['Possui graduação em Agronomia pela Universidade Federal da Paraíba (1980).','Mestrado em Produção Vegetal pela Universidade Federal da Paraíba (1997).','Especialização em Fruticultura Tropical pela Universidade Estadual da Paraíba (1998).','Atualmente é pesquisador II da Empresa Estadual de Pesquisa Agropecuária da Paraíba. ','Tem experiência na área de Agronomia, com ênfase em Manejo e Tratos Culturais, Produção Integrada, e atualmente, coordena o projeto de produção integrada na cultura da mangaba nos estados da PB/RN.','Atua principalmente nos seguintes temas: mangabeiras, avaliação, mangaba, frutos, produção integrada, rastreabilidade e frutos de mangabeiras.'])
  = guest_detail('Eduardo Pargot', 'eduardo-pargot', 'RS', ['GRADUAÇÃO Engenheiro Agrônomo, graduado pela Universidade Federal de Pelotas.','ESPECIALIZAÇÃO/PÓSGRADUAÇÃO: Planejamento Energético Ambiental e Mineral pela URI -Universidade Regional Integrada do Alto Uruguai MBA em Gestão do Agronegócio pela UNISINOS - Universidade do Vale do Rio dos Sinos.','EXPERIÊNCIA PROFISSIONAL: Extensionista Rural da Emater/RS desde 1990. Atividades com "pequenas frutas ou frutas vermelhas" (amora-preta, mirtilo e framboesa) desde 2001. Autor e co-autor de diversas publicações técnicas sobre o assunto. Consultor técnico em pequenas frutas.'])
  = guest_detail('Eduardo Stuchi', 'eduardo-stuchi', 'SP', ['Possui graduação em Agronomia pela Universidade de São Paulo (1985).','Especialização e master em Citricultura pela Universidade Politécnica de Valência (1993).','Mestrado (1996) e doutorado (1999) em Agronomia - Produção Vegetal pela Universidade Estadual Paulista Júlio de Mesquita Filho (UNESP Campus de Jaboticabal). ','Atualmente é pesquisador A da Empresa Brasileira de Pesquisa Agropecuária (Embrapa Mandioca e Fruticultura Tropical).','Diretor científico da Estação Experimental de Citricultura de Bebedouro (EECB). ','Tem experiência na área de Agronomia, com ênfase em Citricultura, atuando principalmente nos seguintes temas: porta-enxertos e variedades, manejo e tratos culturais.'], 'eduardo-stuchi.gif')
  = guest_detail('Emerson Dias Gonçalves', 'emerson-goncalves', 'MG', ['Possui graduação em Agronomia pela Universidade Federal de Santa Maria (1997).','Mestrado em Agronomia pela Universidade Federal de Pelotas (1999) defendeu dissertação com seguinte titulo: Armazenamento de peras asiáticas (Pyrus serotina Rehder), CV. Nijisseiki, em atmosfera controlada.','Tese de doutorado em Agronomia também pela Universidade Federal de Pelotas (2003) titulo da tese: Variabilidade genética,conservação e ocorrencia de escurecimento de caquis (Diospyrus kaki L.), cv. Fuyu. ','De Agosto a Otubro de 2003 foi professor do curso superior de enologia e viticultura do CEFET de Bento Gonçalves RS. ','Em Novembro de 2003 entrou como bolsista recem doutor na Embrapa Clima Temperado onde trabalhou até Dezembro de 2006 no projeto aprovado pelo CNPQ (Avaliação agronomica e qualidade pós colheita de Cultivares e seleçoes avançadas de Amora preta e mirtilo, para região sul do Rio Grande do Sul).','Foi professor e coordenador do Curso de Agronomia da Universidade Estadual do Piaui Campus/ Corrente-PI (UESPI),no periodo de Março a Novembro 2007.','Atualmente é pesquisador da EPAMIG/Maria da Fé-MG. Atua na area de fruticultura, pos-colheita e qualidade de frutas.','No ano de 2008 realizou o IX Curso Internacional de Especilaização em Olivicultura em Jaen- Espanha.','Durante o periodo de Fevereiro de 2008 a Agosto de 2009 foi Coordenador do NucleoTecnologico Epamig Azeitona e Azeite.'], 'emerson-goncalves.gif')
  = guest_detail('Eudes Almeida Cardoso', 'eudes-cardoso', 'RN', ['Possui graduação em Agronomia pela Universidade Federal da Paraíba (1989).','Mestrado em Agronomia pela Universidade Federal da Paraíba (1992).','Doutorado em Agronomia (Fitotecnia) pela Universidade Federal do Ceará (2005). ','Atualmente é professor Associado I da Universidade Federal Rural do Semi-Árido. ','Tem experiência na área de Agronomia, com ênfase em manejo e tratos culturais de frutíferas tropicais. ','Atua também no agronegócio.'])
  = guest_detail('Fernando Luis Dutra Cintra', 'fernando-cintra', 'SE', ['Possui graduação em Agronomia pela Universidade Federal da Bahia (1973).','Mestrado em Ciências do Solo pela Universidade Federal do Rio Grande do Sul (1980).','Doutorado em Agronomia (Solos e Nutrição de Plantas) pela Universidade de São Paulo (1997).',' É pesquisador da Empresa Brasileira de Pesquisa Agropecuária.','Desenvolve suas atividades na Embrapa Tabuleiros Costeiros localizada em Aracaju, SE. ','Tem experiência na área de Física do Solo, atuando principalmente no estudo da coesão dos solos dos tabuleiros costeiros e sistema radicular de culturas perenes e semi-perenes como citros, coqueiro e cana-de-açúcar.'])
  = guest_detail('Flavio Fernandes Júnior', 'flavio-junior', 'SP', [])
  = guest_detail('Flavio Zanette', 'flavio-zanette', 'PR', ['Engenheiro Agrônomo; ', 'Especialização em Agricultura Tropical e Sub-tropical na Itália; ','Mestrado em Fruticultura na UFRGS.','Doutorado e Pós-doutorado na França em Morfogênese e Ecofisiologia de Plantas.','Professor titular sênior de fruticultura, propagação de plantas e morfogênese, no programa de Pós-graduação em Produção Vegetal da UFPR.',' Membro do Conselho Consultivo da SBF.'])
  = guest_detail('Francisco Xavier de Souza', 'francisco-xavier', 'CE', ['Graduado em Engenharia Agronômica, em 1982 pela Universidade Federal Rural do Semi-Árido. ',' Foi responsável técnico pela Agro Knool Ltda, em Assu-RN. ','Pós-graduado, com mestrado e doutorado em Agronomia-Fitotecnia, em 1992 e 2005 pela Universidade Federal do Ceará. ','É pesquisador da Empresa Brasileira de Pesquisa Agropecuária, desde 1985, tendo trabalhado na Embrapa Acre, Embrapa Meio-Norte e atualmente na Embrapa Agroindústria Tropical, em Fortaleza-CE. ','Tem experiência na área de Agronomia, com produção de mudas de fruteiras e cultivos irrigados de milho, feijão, algodão e manga.','Hoje, atua principalmente nas áreas de propagação de plantas e em pesquisas nas técnicas de cultivo para a domesticação da cajazeira (Spondias mombin L.). ','Participa como professor colaborador no curso de graduação em agronomia da UFC na disciplina de Fruticultura e nos de Pós-graduação da UFPB e UFERSA, na diciplina de Fruteiras Nativas.'],'francisco-xavier.gif')
  = guest_detail('Franco Marinho', 'franco-gomes', 'RN', [])
  = guest_detail('François Laurens', 'francois-laurens', 'FRA', ['National Diploma “Engineer in Agronomy” (ENSA Rennes - France)','1987-1990: PHd Thesis at INRA Rennes – Station d\'Amélioration des plantes (Plant Breeding Station )', 'Subject : Inheritance of clubroot resistance (Plasmodiophora brassicae Woron.) in Brassica oleracea L. ','1991–2010: Scientist at the JRU (Joined Research Unit) Genetics and Horticulture - GenHort (INRA Angers- France)', 'Leader of the fruit breeding and genetics group: 8 scientists + 9 technicians working on apple scion cultivars, pear rootstock and scion cultivars; classical breeding, molecular markers, genetic transformation. Our group is also in charge of DUS trials for apple and pear French catalogue and CPVO. I am part of the fruit expert panel.', 'Leader of the apple breeding and genetics programme: • Management of the breeding programme in collaboration with private French nurserimen (SARL Novadi). • Studies on methodology of selection on apple (crossing design, assessment of genetic parameters, MAS)','Leader of the ‘Genetic basis of fruit quality’ programme: Genetic studies on fruit quality (quantitative genetics, QTL localisation)','Leader of the French varietal testing network . Member of the board of the  European EUFRIN group', 'President of the Eucarpia Fruit Breeding and Genetics group (2004-2007) convenor of the Eucarpia Fruit Breeding and Genetics Symposium held at Angers in Sept 2004 (220 participants; 71 oral presentations, 144 posters);'])
  = guest_detail('Jeane Martins', 'jeane-martins', 'RN', [])
  = guest_detail('Joâo Pedro Valente', 'joao-valente', 'MT', ['Possui graduação em Engenharia Agronômica pela Universidade Federal de Mato Grosso (1983).','Mestrado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (1990).','Doutorado em Agronomia (Produção Vegetal) pela Universidade Estadual Paulista Júlio de Mesquita Filho (1993). ','Atualmente é professor associado II da Universidade Federal de Mato Grosso. ','Tem experiência na área de Agronomia, com ênfase em propagação, Manejo e Tratos Culturais, atuando principalmente com as seguintes culturas: abacaxi, manga, maracuja, mamão, coco, bananeira, citrus,fruteiras nativas.'])
  = guest_detail('José Araujo Dantas', 'jose-araujo', 'RN', ['Possui Graduação em Engenharia Agronômica pela Universidade Federal Rural de Pernambuco (1983).','Mestrado em Agronomia (Ciências do Solo) pela Universidade Federal Rural de Pernambuco (1996).','Doutorado em Zootecnia (Forragicultura) pela Universidade Federal Rural de Pernambuco (2004). ','Atualmente é pesquisador III (Doutor) da Empresa de Pesquisa Agropecuária do Rio Grande do Norte - EMPARN. ','Tem experiência na área de Agronomia, com ênfase em Pedologia, atuando principalmente nos seguintes temas: ciência do solo, irrigação, forragicultura e recursos naturais.'], 'jose-araujo.gif')
  = guest_detail('José Carlos Fachinello', 'jose-fachinello', 'RS', ['Mestre em Fruticultura em 1980 pela UFPEL.','Doutor em Agronomia em 1986 pela Esalq.','Pós-Doutor pela Universidade de Estudos de Bolonha- Itália em 1998.','Professor Titular de Fruticultura no Curso de Mestrado ','Doutorado da UFPEL em fruticultura de Clima Temperado','Pesquisador Nível I A do CNPq','Coordenação do projeto de Produção Integrada de Frutas de Caroço. '], 'jose-fachinello.gif')
  = guest_detail('José Luiz Petri', 'jose-petri', 'SC', ['Possui graduação em Agronomia pela Universidade Federal de Santa Maria (1969).','Mestrado em Agronomia pela Universidade Federal de Pelotas (1976). ','Atualmente é Presidente da Sociedade Brasileira de Fruticultura.','Pesquisador da Empresa de Pesquisa Agropecuária e Extensão Rural de Santa Catarina. ','Tem experiência na área de Agronomia, com ênfase em Fitotecnia em fruticultura de clima temperado, atuando principalmente nos seguintes temas: malus domestica, dormência, adaptação, macieira , polinização e reguladores de crescimento.'])
  = guest_detail('Joston Simão de Assis', 'joston-assis', 'PE', ['Engenheiro Agronomo pela Universidade do Estado da Bahia ','Especialização em tecnologia de Alimentos pela Université Laval Quebec-Canadá M. Sc. ','Especialização Fisiologia Vegetal pela Universidade Federal de Viçosa D. Sc. ','Em Agricultura pela Unesp/Botucatu Pós-douturado em Fisiologia Pós-colheita no Instituto del Frío em Madrid-Espanha. ','Professor Titular de Fisiologia Vegetal da Universidade do Estado da Bahia Pesquisador A da Embrapa Semiárido.','Área de pesquisa: Fisiologia e Tecnologia Pós-colheita. Coordenador de Projetos: Conservação pós-colheita da Mandioca de mesa por métodos compatíveis com a produção orgânica. Produção Integrada de Melão para o Vale do São Francisco. Coordenador do Grupo de ', 'Trabalha para melhora da qualidade da manga produzida por pequenos produtores do Projeto Maniçoba em Juazeiro-BA.'])
  = guest_detail('Laércio Duarte Souza', 'laercio-souza', 'BA', ['Formação - Graduação: 1979 - Universidade Federal Rural do Rio deJaneiro. ','Mestrado: 1989 - ESALQ / USP; Solos e Nutrição de Plantas.','Doutorado: 1999 - Universidad Politecnica de Valencia - Espanha; Suelos / Producción vegetal.','Linhas de pesquisa: - Relação solo : água. - Resistência do solo a penetração de raízes - Solos coesos - Manejo agrícola do solo.'])
  = guest_detail('Laércio Zambolim', 'laercio-zambolin', 'MG', ['Engenheiro agronomo 1970 - UFV ','Mestrado em fitopatologia 1973-UFV',' PHD em fitopatologia na universidade da florida, EUA 1980 ','Pós-doutorado em biotecnologia-fitopatologica 2000, University of Wisconsin professor titular de manejo integrado de doenças de plantas.'],'laercio-zambolin.gif')
  = guest_detail('Leandro Camargo Neves', 'leandro-neves', 'PR', ['Engenheiro Agrônomo pela Universidade Estadual Paulista/FCA/Botucatu. ','Mestrado em Ciência e Tecnologia Agroindustrial pela Universidade Federal de Pelotas/UFPel.','Doutorado em Agronomia pela Universidade Estadual de Londrina/UEL.','Pós-doutorado pela Texas A&M University, College Sation, TX ','Prof. Dr. Adjunto II da Universidade Federal de Roraima/UFRR ','Coordenador do Laboratório de Tecnologia de Alimentos da UFRR ','Professor das Disciplinas de Tecnologia de Produtos Agropecuários e Tecnologia Pós-Colheita na graduação, e Fisiologia Pós-Colheita de Frutos e Hortaliças no metrado. ','Docente do POSAGRO/UFRR e da Rede Bionorte/MCT (início em 2011) '])
  = guest_detail('Lucia Helena Piedade Kiill', 'lucia-kiill', 'PE', ['Possui graduação em Licenciatura Em Ciências Biológicas pela Universidade de São Paulo (1986).','Mestrado em Biologia Vegetal pela Universidade Estadual de Campinas (1991).','Doutorado em Biologia Vegetal pela Universidade Estadual de Campinas (1998). ','Atualmente é pesquisadora da Embrapa Semiárido, onde atua na área de caracterização de ecossistemas. ','Tem experiência na área de Ecologia, com ênfase em Ecologia da Polinização, atuando principalmente nos seguintes temas: biologia floral, sistema de reprodução e fenologia de espécies nativas da caatinga, serviços de polinização em agroecossistemas.'])
  = guest_detail('Luciano Silva Souza', 'luciano-souza', 'BA', ['Possui graduação em Agronomia pela Universidade Federal da Bahia (1971).','Mestrado em Agronomia (Ciência do Solo) pela Universidade Federal do Rio Grande do Sul (1976).','Doutorado em Ciência do Solo pela Universidade Federal do Rio Grande do Sul (1992).','É pesquisador aposentado da Embrapa Mandioca e Fruticultura Tropical. ','Atualmente é professor adjunto do Centro de Ciências Agrárias, Ambientais e Biológicas da Universidade Federal do Recôncavo da Bahia. ','Tem experiência na área de Agronomia, com ênfase em Física, Manejo e Conservação do Solo, atuando principalmente nos seguintes temas: solos coesos dos Tabuleiros Costeiros, física do solo, manejo e conservação do solo e da água, leguminosas e qualidade do solo.','Participa de vários grupos de pesquisa do CNPq, como lider (01) e pesquisador (03). ','É Editor Assistente da Revista Brasileira de Ciência do Solo e revisor da Pesquisa Agropecuária Brasileira, Magistra, Bragantia e Pesquisa Agropecuária Gaúcha.'], 'luciano-souza.gif')
  = guest_detail('Luis Cisnero Zevallos', 'luis-zevallos', 'EUA', [' Dr. Cisneros earned his Bachelor of Science and Engineering degree in Food Industries Engineering from the National Agrarian University - La Molina (UNALM) in Lima, Peru in 1988. ','In 1988 he joined the Department of Food Engineering (UNALM) as an instructor. ', 'He received his M.S. degree (1995) and Ph.D. degree (1998) in Food Science from the University of California at Davis. ', 'He became a member of the faculty at Texas A&M University in College Station, Texas in 1998.'], 'luis-zevallos.gif')
  = guest_detail('Luis Eduardo Correa Antunes', 'luis-antunes', 'RS', ['Engenheiro Agronomo pela escola superior de Aghricultura de Lavras em 1992.','Mestrado e doutorado pela Universidade Federal de Lavras ','Pós doutorado pela Universidade de Flórida.','Especialista em produção de pequenas frutas e frutas de caroço. ','Pesquisador A da Embrapa Clima Temperado'],'luis-antunes.gif')
  = guest_detail('Luiz Carlos Donadio', 'luiz-donadio', 'SP', ['Prof. aposentado da FCAV-Unesp de Jaboticabal, área de Fruticultura. Citros, frutas Nativas e Exoticas','Presidente da SBF por tres gestões.','Ex-editor da RBF','Ex-diretor cientifico e fundador da EECB-Estação Experimental de Citricultura de Bebedouro,SP','Diretor da Assoc. Brasileria de Fruas Raras'])
  = guest_detail('Luiz Roberto Barcelos', 'luis-barcelos', 'RN', ['Formado em direito pela universidade de São Paulo,','Presidente do IBRAF, instituto de frutas do Brasil,', 'Sócio da empresa Agrícola Famosa, produtora e exportadora de melões, melancias e bananas no estado do Rio Grande do Norte e Ceará. A agrícola famosa é a maior exportadora de frutas frescas do Brasil e é a maior produtora de melão do mundo.'])
  = guest_detail('Magdi Ahmed Imbralim Aloufa', 'magdi-aloufa', 'RN', ['Possui graduação em Agronomia pela Universidade do Cairo (1977).','Mestrado em Fitopatologia - Universite de Paris XI (Paris-Sud) (1981)  * Doutorado em Biologia e Fisiologia Vegetal - Universite de Paris VI (Pierre et Marie Curie) (1984). ','Atualmente é vice - coordenador do curso de especialização da Universidade Federal do Rio Grande do Norte. ','Tem experiência na área de Botânica, com ênfase em Fisiologia Vegetal, atuando principalmente nos seguintes temas: in vitro, tamareira, cultura de tecidos, micropropagacão e algodão.'])
  = guest_detail('Marcelo Picanço', 'marcelo-picanco', 'MG', ['Concluiu o doutorado em Fitotecnia (Produção Vegetal) pela Universidade Federal de Viçosa em 1992. ','Atualmente é PROFESSOR ASSOCIADO da Universidade Federal de Viçosa e bolsista de Produtividade em Pesquisa de Nível I do CNpq.','Publicou 191 artigos em periódicos especializados e 769 trabalhos em anais de eventos. Possui 16 capítulos de livros e 2 livros publicados. ',' Orientou 21 dissertações de mestrado e co-orientou 49','Orientou 10 teses de doutorado e co-orientou 14 teses de doutorado, ',' Além de ter orientado 124 trabalhos de iniciação científica nas áreas de Agronomia e Zoologia. ',' Atua na área de Agronomia, com ênfase em Entomologia Agrícola.','Em suas atividades profissionais interagiu com 294 colaboradores em co-autorias de trabalhos científicos. ','Em seu currículo Lattes os termos mais freqüentes na contextualização da produção científica, tecnológica e artístico-cultural são: Manejo integrado de pragas, Técnicas culturais, Hortaliças, tomateiro, Agroecologia, Toxicologia de inseticidas, Controle biológico, Resistência de plantas, Manejo e Tratos Culturais e Seletividade de inseticidas.'])
  = guest_detail('Márcia Maués', 'marcia-maues', 'BA', ['Possui graduação em Ciências Biológicas pela Universidade Federal do Pará (1986).',' Mestrado em Entomologia pela Faculdade de Filosofia Ciências e Letras de Ribeirão Preto (1991).','Doutorado em Ecologia pela Universidade de Brasília (2006). ','Desde 1989 é pesquisadora da Empresa Brasileira de Pesquisa Agropecuária, lotada no Centro de Pesquisa Agroflorestal da Embrapa Amazônia Oriental, em Belém do Pará. ','Tem experiência na área de Ecologia, com ênfase em Ecologia da Polinização, atuando principalmente nos seguintes temas: biologia reprodutiva de espécies frutíferas e florestais, biologia floral, sistemas de incompatibilidade, sisitemas de polinização, fenologia, manejo de abelhas nativas sem ferrão (Meliponina) para a polinização de fruteiras amazônicas, impacto da exploração florestal nos processos reprodutivos de espécies arbóreas. ','Publicou diversos artigos em periódicos especializados. ','Orienta alunos de graduação e pós-graduação. ','Participa em projetos de pesquisa voltados para o entendimento das interações planta-polinizador e processos ecológicos em áreas naturais e antropizadas na Amazônia.'])
  = guest_detail('Marcos Antônio Moreira', 'marcos-moreira', 'RN', ['Possui graduação em Engenharia Agronômica pela Escola Superior de Agricultura de Mossoró (1985).','Mestrado em entomologia Agrícola pela Universidade Federal de Viçosa (1993).','Doutorado em Ciências Biológicas pela Universidade Federal do Paraná (2005). ','Atualmente é pesquisador da Embrapa Tabuleiros Costeiros. ','Tem experiência na área de entomologia agrícola, atuando nas áreas de manejo integrado de pragas com ênfase em fruticultura tropical e em sistemas agroecológicos de produção. ','Atuando também em controle biológico e comportamental de pragas de frutícolas e de horticolas.'])
  = guest_detail('Marcos Augusto Eger da Cunha', 'marcos-cunha', 'AM', [' Possui graduação em Engenharia Química pela Pontifícia Universidade Católica do Rio Grande do Sul (1985),','Mestrado em Engenharia Química pela Universidade Federal do Pará (2002). ','Atualmente é professor assistente II da Universidade do Estado do Pará. ',' Orientou até o momento dezenove trabalhos de conclusão de curso de graduação. ','Tem experiência em Engenharia Aeronáutica na área de materiais de aviação e processos; eletrodeposição em material aeronáutico e corrosão, Engenharia Ambiental e Sanitária, com ênfase em Técnicas Avançadas de Tratamento de Águas e efluente industrial com gestão de resíduos. ',' Na Universidade atua como professor e pesquisador no desenvolvendo novos processos e produtos.'])
  = guest_detail('Maria do Carmo Bassolis Raseira', 'maria-roseira', 'RS', ['Graduada como Engenheira Agrônomo em 1968, pela Escola de Agronomia Eliseu Maciel (Universidade Federal de Pelotas). ','Mestrado em Horticultura e Doutorado em Plant Science pela University of Arkansas, Fayetteville, Arkansas, USA. ',' Cursou diversas disciplinas na Texas A&M University, USA. ',' Iniciou a vida profissional no mesmo ano da graduação, dezembro de 1968, na Estação Experimental de Pelotas, hoje parte da Embrapa Clima Temperado onde desenvolve até o presente as atividades de pesquisa ligadas ao melhoramento de espécies frutíferas de clima temperado.','Foi professora convidada da Univ. Federal de Pelotas sendo coordenadora do curso de Pós graduação em Fruticultura no período de Novembro de 1974 a Julho de 1976.','É atualmente responsável pelo melhoramento de frutas de caroço, na Embrapa Clima Temperado, pelo melhoramento de amora-preta e mirtilo, pelo Banco de Germoplasma de Prunoideas e pelo Banco de Germoplasma de Fruteiras nativas do Sul do Brasil (neste último fazendo bioprospecção em algumas espécies). ','Foi responsável ou colaborou no lançamento de diversas cultivares de pessegueiro, nectarineira, amora-preta e araçazeiro, destancando nos últimos anos as cultivares de pessegueiro Bonão e Rubimel em 2007 e as cultivares BRS Âmbar, BRS LIbra e BRS Kampai, em 2009.'])
  = guest_detail('Mário Varela Amorim','mario-amorim','RN', ['Engenheiro Agrônomo', 'M.Sc. Engenharia de Produção','Extensionista e Diretor Técnico da EMATER-RN','Exerceu diversos cargos como Dirigente de várias Associações de Classe da Agronomia e Engenharia no RN, exerceu alguns mandatos de Conselheiro do CREA-RN, exerceu a Presidência do CREA-RN','Conselheiro Federal do Conselho Federal de Engenharia, /Arquitetura e Agronomia-CONFEA, de  87-90, autor de vários artigos científicos sobre felicidade e qualidade de vida publicados no Brasil e no Exterior, autor e co-autor de vários livros técnicos','Docente da disciplina de Gestão da Qualidade de Vida em cursos de Pós-graduação-MBA','Membro do Comitê Nacional de Assistência Técnica e Extensão Rural  do CONDRAF/MDA','Acadêmico da Academia Brasileira de Extensão Rural', 'mario-amorim.gif'])
  = guest_detail('Mauro Carneiro', 'mauro-carneiro', 'DF', ['Possui graduação em Ciencias Biologicas pela Universidade de Brasília (1977).','Mestrado em Ciências Biológicas (Biologia Molecular) pela Universidade de Brasília (1981).','Doutorado em Biologia Molecular pela Universidade de Lausanne (1985). ','Atualmente é Diretor da Escola Brasileira Argentina de Biotecnologia do Conselho Nacional de Desenvolvimento Científico e Tecnológico ','Pesquisador III da Empresa Brasileira de Pesquisa Agropecuária. ','em experiência na área de Bioquímica, com ênfase em Biologia Molecular, atuando principalmente nos seguintes temas: rol A gene, biotecnologia, agrobacterium rhizogenes, gene expression e gene regulation.'])
  = guest_detail('Narendra Narain', 'norenda-narain', 'SE', ['Possui graduação em Quimica Industrial - Kanpur University (1968).','Graduação em Bacharelado em Ciência pela Universidade de Agra (1965).','Mestrado em Tecnologia de Alimentos pela Universidade de Bombaim (1970).','Doutorado em Ph D Tecnologia em Alimentos pela Universidade de Bombaim (1975).','Atualmente é pesquisador nível 1B do Conselho Nacional de Desenvolvimento Científico e Tecnológico.','Professor adjunto da Universidade Federal de Sergipe. ','Coordena o projeto do Instituto Nacional de Ciência e Tecnologia (INCT) de Frutos Tropicais. ','Tem experiência na área de Ciência e Tecnologia de Alimentos, com ênfase em Química, Física, Fisico-Química e Bioquímica dos Alim. e das Mat-Primas Alimentares, atuando principalmente nos seguintes temas: Flavor em alimentos, cromatografia gasosa, voláteis, acidos graxos, espectrometria de massa e composição química.'])
  = guest_detail('Otoniel Ribeiro Duarte', 'otoniel-duarte', 'RR', ['Possui graduação em Agronomia pela Universidade Federal de Pelotas (1986).','Mestrado em Agronomia pela Universidade Federal de Pelotas (1991).','Doutorado em Ciências Biológicas - Botânica pelo INPA/UFAM (2008). ','Atualmente é pesquisador da Empresa Brasileira de Pesquisa Agropecuária. ','Tem experiência na área de Agronomia, com ênfase em Fitotecnia e Agroenergia, atuando principalmente nos seguintes temas: inajá, fruteiras e pesquisa agropecuaria.'])
  = guest_detail('Patricia Coelho De Souza Leão', 'patricia-coelho', 'PE', ['Engenheira Agronoma pela Universidade Federal rural de Pernambuco,','Mestrado em Agronomia área de concentração em Melhoramento Vegetal em 1999 pela Universidade Estadual Paulista em Jaboticabal,','Doutorado em Genética e Melhoramento de Plantas em 2008 pela Universidade Federal de Viçosa.','Pesquisadora da Embrapa Semiárido na área de viticultura desde 1994.'])
  = guest_detail('Paulo Roberto Coelho Lopes', 'paulo-lopes', 'PE', ['Engenheiro Agrônomo diplomado pela Escola de Agronomia da UFBA, em Cruz das Almas - BA. ','Mestrado na Universidade Federal do Rio Grande do Sul, em Porto Alegre - RS. ','Doutorado na Universidade Politécnica de Valencia - Espanha. ','Pós-Doutorado em Produção Integrada de Frutas e Boas Práticas Agrícolas na Mississipi State University, Estados Unidos. ','Coordenador do Projeto de Produção Integrada de Manga e Uvas Viniferas no Vale do São Francisco. ','Coordenador do projeto Introdução e Avaliação de Culturas Alternativas para as Áreas Irrigadas do Semi-Árido Brasileiro'], 'paulo-lopes.gif')
  = guest_detail('Rafael Pio', 'rafael-pio', 'MG', ['Prof. Adjunto da Universidade Federal de Lavras (UFLA), nível graduação e pós-graduação, orientador de Mestrado e Doutorado.','Bolsista Produtividade em Pesquisa do CNPq nível 2. ','Atualmente possui 04 projetos de pesquisas aprovados no CNPq  em andamento com pequenos frutos vermelhos e vem realizando diversas pesquisas visando a seleção de cultivares promissoras de amoras e framboesas coloridas para regiões de pouco frio invernal e como alternativa de renda para os produtores de morango do Sul do Estado de Minas Gerais, bem como pesquisas visando o aprimoramento do processo propagativo dessas frutíferas.'],'rafael-pio.gif')
  = guest_detail('Raimundo Braga Sobrinho', 'raimundo-sobrinho', 'CE', ['Possui graduação em Engenharia Agronômica pela Universidade Federal do Ceará (1975).','Mestrado em Agronomia (Fitotecnia) pela Universidade Federal do Ceará (1978).','Ph.D em Entomologia - Oklahoma State University (1988).','É pesquisador senior da Empresa Brasileira de Pesquisa Agropecuária desde 1976. ','Tem experiência na área de Agronomia, com ênfase em Entomologia Agrícola, atuando principalmente nos seguintes temas: Manejo Integrado de Pragas com ênfase em Fruticultura e Algodão.','Trabalha com melão, mamão, caju, goiaba, manga, acerola, anonáceas e coco.','É coordenador dos projetos: Produção Integrada do Melão financiado pelo CNPq/MAPA e Moscas-das-frutas financiado pela IAEA. ','É Consultor Técnico da Agência Internacional de Energia Atômica.Tem longa experiência com sistemas de produção algodão no Brasil e outros países da América Latina e Asia. ','Foi Chefe de P&D do Centro Nacional de Pesquisa do Algodão, Presidente da "Associación Latino-americana de Investigación y Desarollo del Algodon" com sede em Washington , USA;','Presidente do Comitê de Publicação do EMBRAPA/CNPA e EMBRAPA/CNPAT. ','Foi Diretor de projetos de Produção de Algodão junto à FAO para os países Paraguai e Argentina. Consultor da FAO, Ministério de Agricultura y Ganaderia del Paraguay, Bolivia, Argentina e Instituto de Tecnologia Agricola da Argentina.'])
  = guest_detail('Raul Dantas Vieira Neto', 'raul-neto', 'SE', ['Engenheiro Agrônomo Especialização em Agricultura Tropical pela Universidade Federal de Pernambuco.','Mestrado em Agroecossistemas pela Universidade Federal de Sergipe.','Pesquisador em fruticultura, concentrando seus trabalhos nas culturas da mangabeira e bananeira. ','Consultor do SEBRAE na área de agronegócios'])
  = guest_detail('Rêmulo de Araújo Carvalho', 'remulo-carvalho', 'PB', ['Possui mestrado em Biologia Ambiental pela Universidade de Guelph- Canada. ','Há 23 anos desenvolve pesquisas alternativas para o manejo de pragas e doenças da abacaxicultura com destaque para o controle da fusariose do abacaxizeiro com taninos de árvores com propriedade medicinais. ','Fui o descobridor de métodos alternativos de controle das pragas exóticas invasoras: cochonilha do carmim (na palma forrageira) e do caracol gigante africano, cuja metodologia de controle foi adotada pelo Ibama e difundida em todo o Brasil.','Atualmente desenvolvo pesquisa de controle alternativo de uma nova praga exótica invasora: a mosca-negra-dos-citros que foi identificada recentemente na Paraíba.'], 'remulo-carvalho.gif')
  = guest_detail('Ricardo Elesbão Alves', 'ricardo-alves', 'CE', ['Graduado em Agronomia pela Universidade Federal da Paraíba (1989),','Mestre em Agronomia (Fisiologia Vegetal) pela Universidade Federal de Lavras (1993).','Doutor em Ciência dos Alimentos (Fisiologia Pós-Colheita) pela Universidade Federal de Lavras (1999).','Tem experiência na área de Ciências Agrárias e Ciência e Tecnologia de Alimentos, com ênfase em Fisiologia Pós-Colheita, atuando principalmente nos seguintes temas: qualidade pós-colheita, fruticultura tropical, frutas nativas, conservação pós-colheita, recursos genéticos, potencial antioxidante e alimentos funcionais.','Foi Professor da Universidade Estadual do Rio Grande do Norte (UERN) e desde es1994 é Pesquisador da Embrapa Agroindústria Tropical, onde foi Assessor da Chefia Adjunto de Pesquisa & Desenvolvimento (P&D) e Chefe Adjunto de P&D Substituto de 01/2000 a 02/2004 e Chefe Adjunto de P&D e Chefe Geral Substituto de 02/2004 a 03/2008.','Recebeu em 2004 o Prêmio Frederico de Menezes Veiga (Tema: Agregação de Valor aos Produtos Agrícolas, Florestais e Pecuárias), pela sua contribuição a fruticultura com trabalhos voltados a agregação de valor a frutas tropicais tradicionais e não-tradicionais (exóticas/nativas). ','Participa(ou) como coordenador e/ou membro de vários projetos e redes em âmbitos nacional e internacional, com ênfase a produtos tropicais nativos da America Latina, financiados por CNPq, CYTED, Embrapa, FINEP, FUNCAP, FUNDECI/BNB, INCO-DC e MAPA. ', 'Atualmente é representante regional da Sociedade Brasileira de Fruticultura (SBF) no Ceará, representante da Asociación Iberoamericana de Tecnología Postcosecha de Frutas y Hortalizas (AITEP) no Brasil, ',' Diretor-Executivo da Interamerican Society For Tropical Horticulture (ISTH), pesquisador/orientador da Universidade Federal da Paraíba e da Universidade Federal Rural do Semi-Árido e Pesquisador 1-D do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq).'], 'ricardo-alves.gif')
  = guest_detail('Roberto Dantas de Medeiros', 'roberto-medeiros', 'RR', ['Possui graduação em Agronomia pela Universidade Federal da Paraíba (1982).','Mestrado em Irrigação e Drenagem pela Universidade de São Paulo (1995)','Doutorado em Agronomia (Fitotecnia) pela Universidade Federal de Lavras (2004). ','Atualmente é pesquisador III da Empresa Brasileira de Pesquisa Agropecuária. ','Tem experiência na área de Agronomia, com ênfase em Irrigação e Drenagem, atuando principalmente nos seguintes temas: arroz, melancia, soja, caupi, irrigação.'])
  = guest_detail('Rômulo da Silva Carvalho', 'romulo-carvalho', 'BA', ['Graduação em Agronomia pela Universidade Federal da Bahia (1985).','Mestrado em Entomologia pela Universidade Federal de Viçosa (1992)','Doutorado em Ciências (Biologia/Genética) pelo Instituto de Biociências da Usp (2003). ','Atualmente é revisor dos seguintes periódicos: Revista Brasileira de Zoologia , - Neotropical Entomology, - Folia Entomológica Mexicana, - Journal of Biogeography , - Scientia Agricola , - Ciência e Agrotecnologia, - PAB Pesquisa Agropecuária Brasileira. Pesquisador da Embrapa Mandioca e fruticultura Tropical. ','Tem experiência na área de Agronomia, com ênfase em Defesa Fitossanitária, atuando principalmente nos seguintes temas: controle biológico, moscas-das-frutas (Tephritidae), bioindicadores ambientais, agroecologia, manejo integrado de pragas e revestimentos comestíveis (biofilmes).','Professor Permanente do Programa de Pós Graduação em Ciências Agrárias, área de concentração fitotecnia da Universidade Federal do Recôncavo da Bahia-UFRB.'])
  = guest_detail('Rosilene Ferreira Souto', 'rosilene-souto', 'DF', ['Engenheira agrônoma formada na UFLA. ','Mestre em Agricultura Geral, na área de Fruticultura, na UFLA. ','Doutora em Produção Vegetal, na área de fruticultura, na UNESP, Jaboticabal. ','Trabalhou como Pesquisadora na área de Fruticultura na Epamig, por 10 anos, no estado de Minas Gerais. ','Chefe da Divisão de Produção Integrada da Fruticultura no Ministério da Agricultura Pecuária e Abastecimento.'])
  = guest_detail('Rui Sales Júnior', 'rui-junior', 'RN', ['Concluiu o doutorado em Fitopatología - Universidad Politécnica de Valencia em 1999. ','Atualmente é professor adjunto III da Universidade Federal Rural do Semi-Árido (UFERSA). ','Publicou 72 artigos em periódicos especializados Nacional e Internacional e 133 trabalhos em anais de eventos. ','Participou de 2 eventos no exterior e 39 no Brasil.','Orientou 4 dissertações de mestrado, além de ter orientado 15 trabalhos de iniciação científica e 40 trabalhos de conclusão de curso na área de Agronomia. ','Entre 2001 e 2009 coordenou 9 projetos de pesquisa. ','Atualmente participa de 5 projetos de pesquisa, sendo que coordena 2 destes.','Atua na área de Agronomia, com ênfase em Fitopatologia. ',' Em suas atividades profissionais interagiu com 278 colaboradores em co-autorias de trabalhos científicos. ',' Em seu currículo Lattes os termos mais freqüentes na contextualização da produção científica, tecnológica e artístico-cultural são: Cucumis melo, melão, Controle, Controle químico, Bacteria, fungos, Monosporascus cannonballus, Acidovorax avenae subsp. citrulli e Pós-colheita'], 'rui-junior.gif')
  = guest_detail('Sérgio Antonio da Silva Almeida', 'sergio-almeida', 'RN', ['Diretor da LIVISAL Geoconsultoria e Serviços LTDA','Pós Doutorado em Geoprocessamento e Sensoriamentod Remoto (INPE-SP)','Mestre em Geociências (UFF- Niterói/ RJ)','Biólogo (FAMATH- Niterói/RJ)'],'sergio-almeida.gif')
  = guest_detail('Sérgio Roberto Ruffo', 'sergio-ruffo', 'PR', ['Possui Graduação em Agronomia (1990).','Mestrado (1994) e Doutorado (1998) em Produção Vegetal pela Universidade Estadual Paulista.','Pós-Doutorado pelo U.S. Horticultural Research Laboratory - USDA, Estados Unidos (1999). ','Possui Especialização em Citricultura pela Universidade Estadual Paulista (1991).','Especialização em Recursos Fitogenéticos pela Universidad Politecnia de Madrid, Espanha (1992).','Especialização em Viticultura e Enologia pela Universidad de Cádiz, Espanha (2006). ','Pesquisador de Produtividade em Pesquisa do CNPq desde 2002.','Professor Associado na Área de Fruticultura na Universidade Estadual de Londrina, atuando na área de Manejo e Tratos Culturais, Ecofisiologia, Propagação de Plantas Frutíferas e Viticultura e Enologia. ','Ministra a disciplina "Fruticultura II" no Curso de Graduação em Agronomia e "Tecnologia da Produção de Frutas" e "Propagação de Plantas" no Programa de Pós-Graduação em Agronomia. ','É orientador de alunos de Iniciação Científica, Mestrado, Doutorado e Pós-Doutorado. ','Sócio da Sociedade Brasileira de Fruticultura e da Associação Brasileira de Enologia.'],'sergio-ruffo.gif')
  = guest_detail('Silvia Maria Fonseca da Silveira Marssuhá', 'silva-silveira', 'SP', [' Possui graduação em Análise de Sistemas - Pontifica Universidade Católica de Campinas (1988).','Mestrado em Ciência da Computação pela Faculdade de Engenharia Elétrica e de Computação (1996) da Universidade Estadual de Campinas (Unicamp).','Doutorado em Computação Aplicada pelo Instituto Nacional de Pesquisas Espaciais (2003) (INPE). ','Pesquisadora, desde 1989, do Centro Nacional de Pesquisa Tecnológica em Informática para a Agricultura - CNPTIA da Empresa Brasileira de Pesquisa Agropecuária - Embrapa. ',' Atualmente exercendo o cargo de Chefe de Pesquisa e Desenvolvimento da Embrapa Informática Agropecuária e Presidente da Sociedade Brasileira de Agroinformática (SBIAgro). ','Tem experiência na área de Ciência da Computação, com ênfase em Inteligência Artifical, atuando principalmente nos seguintes temas:sistemas baseados em conhecimento, lógica abdutiva, lógica nebulosa, técnicas de aprendizado de máquina (árvores de decisão, redes neurais), mineração de dados e textos.'])
  = guest_detail('Vander Mendonça', 'vander-mendonca', 'RN', ['Possui Graduação em Engenharia Agronomica pela Universidade Federal de Lavras (1997).','Mestrado em Agronomia/Fitotecnia pela Universidade Federal Rural do Semi-Árido (2000).',' Doutorado em Agronomia (Fitotecnia/Fruticultura) pela Universidade Federal de Lavras (2005).','Atualmente é professor adjunto na Universidade Federal Rural do Semi-árido (UFERSA).','Bolsista de Produtividade em Pesquisa do CNPq Nível 2.','É líder do Grupo de Pesquisa Propagação, Nutrição, Adubação e Tratos Culturais de Frutíferas de Clima Tropical e Sub-Tropical e participa como membro do Grupo de Pesquisa Fertilidade do Solo e Nutrição de Plantas ambos cadastrados no CNPq. ',' Na UFERSA é lider do Grupo de pesquisa Pesquisa em Fruticultura . ',' Tem experiência na área de Agronomia, com ênfase em Fruticultura, atuando principalmente nos seguintes temas: propagação, adubação e condução de espécies frutíferas de clima tropical.'], 'vander-mendonca.gif')
  = guest_detail('Vitor Hugo de Oliveira', 'vitor-hugo', 'CE', ['Engenheiro agrônomo, com mestrado e doutorado em agronomia. ','É pesquisador da Embrapa desde 1979. ','Atualmente é chefe-geral da Embrapa agroindústria tropical.','Publicou 22 artigos em periódicos especializados e 68 trabalhos em anais de eventos. ','É autor de 20 capítulos de livros e possui 5 livros publicados. Orientou 3 trabalhos de iniciação científica e 2 trabalhos de conclusão de curso de graduação e co-orientou 2 trabalhos de dissertação de mestrado nas áreas de agronomia e engenharia agrícola. ',' Participou de 34 bancas de defesa de tese de doutorado/mestrado. ','É pioneiro nas pesquisas com a irrigação localizada em clones de cajueiro-anão precoce no brasil. ','Atua principalmente nos seguintes temas: anacardium occidentale l., irrigação, cajueiro anão precoce, cajucultura e produção integrada de frutas.'],'vitor-hugo.gif')
  = guest_detail('Wilian Natale', 'wiliam-natale', 'SP', ['Concluiu o doutorado em Agronomia (Solos e Nutrição de Plantas) [Esalq] pela Universidade de São Paulo em 1993. ','Pós-Doutoramento no CIRAD, Montpellier - França, na área de Nutrição e Adubação de Frutíferas (1997/98).','Participou, na qualidade de Professor Convidado, de projeto de intercâmbio científico junto a Université Laval, Québec, Canada, no período de fevereiro a julho de 2008. ','Atualmente é Professor Adjunto da Universidade Estadual Paulista Júlio de Mesquita Filho. ','Foi Vice-Chefe e depois Chefe do Departamento de Solos e Adubos da FCAV/Unesp - campus Jaboticabal.','Atualmente, é novamente o Chefe do Departamento com mandato de dois anos a partir de abril de 2009. ','Foi vice-Coordenador e depois Coordenador do Programa de Pós-Graduação em Agronomia (Ciência do Solo).','É Editor Científico da Revista Brasileira de Fruticultura. ','Bolsista do programa PQ (Produtividade em Pesquisa) do CNPq, a partir de 2001. ','Publicou 104 artigos em periódicos especializados e mais de 150 trabalhos em anais de eventos. Possui 6 livros e 11 capítulos de livro publicados. Possui 2 software. Orientou 8 dissertações de mestrado e co-orientou 4, orientou 3 teses de doutorado e co-orientou 5, além de ter orientado e co-orientado 16 trabalhos de conclusão de curso na área de Ciências Agrárias e um em Ciência da Computação. ','Entre 1989 e 2009 participou de 25 projetos de pesquisa, sendo que coordenou 13 destes. ','É professor da FCAV/Unesp desde 1988, lecionando as disciplinas de Fertilizantes e Corretivos, Adubação de Culturas, e Adubos e Adubação de Plantas Forrageiras para os cursos de Graduação.','Na Pós-Graduação ministra a disciplina Frutíferas: calagem, adubação e nutrição. Atua na área de Agronomia, com ênfase em Fertilidade do Solo, Nutriçao e Adubação, especialmente de plantas frutíferas.'])
  = guest_detail('Wilson Galdino', 'wilson-galdino', 'RN', ['Formado em agronomia pela Universidade do Estado do Rio Grande do Norte 2006.','Sócio Gerente da WG Fruticultura'], 'wilson-galdino.gif')
