!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title XXI Brazilian Congress of Tropical Fruits 
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "author", :content => "Participe.de - Tink!" }
    %meta{ :name => "description", :content => "XXI Brazilian Congress of Tropical Fruits" }
    %meta{ :name => "keywords", :content => "XXI, congress, brazilian, tropical fruits, fruits" }
    - %w(reset text 960 style menu-en sifr).each do |css_file|
      = css_tag("#{css_file}.css")
    - %w(sifr sifr-config).each do |js|
      = script_tag("#{js}.js")
    / [if IE]<link rel="stylesheet" href="../css/png_fix.css" type="text/css" /><![endif]
    / [if IE 6]<link rel="stylesheet" href="../css/ie6.css" type="text/css" /><![endif]
    / [if IE 7]<link rel="stylesheet" href="../css/ie7.css" type="text/css" /><![endif]
  %body
    #header
      .container_12
        #menu.grid_12
          %ul
            - site.posts.each do |post|
              - if post.categories.include?("en")
                %li{:class => "#{'current' if (page.title == post.title)}"}
                  %a{ :href => post.url}= post.title
    #bannerzao.container_12
      #fruits.grid_12
        .grid_8.prefix_2
          %h1 Fruits: Health, Innovation and Sustainability
      #banner
        #congresso.grid_4.prefix_1.alpha
          %a{ :href => "../en/"}
            %img{ :src => "../images/bg/en/bg-congress.png", :alt => "XXI Brazilian Congress of Tropical Fruits" }
          %img.date{ :src => "../images/bg/en/bg-data.png", :alt => "XXI Brazilian Congress of Tropical Fruits" }
        #fruitbox.grid_5.prefix_2.omega
          %img.cxfruit{ :src => "../images/bg/bg-fruits.png", :alt => "XXI Brazilian Congress of Tropical Fruits" }
    #conteudo
      %div{:class => "container_12 #{layout_type}"}
        #content.content_12
          - if layout_type == 'internal_page'
            .grid_10.prefix_1
              %h2= page.title
              = content
          - else
            = content
        .clear
    #footer.container_12
      #sponsor.grid_12
        #promocao.grid_2.prefix_1.alpha
          %h6 PROMOTION
          %a{ :href => "http://www.sbfruti.com.br", :target => "_blank"}
            %img{ :src => "../images/sponsors/logo-sbf.jpg", :alt => "Sociedade Brasileira de Fruticultura - SBF", :height => "70px" }
          %img.sep{ :src => "../images/sponsors/bg-separator.jpg", :height => "70px" }
        #realizacao.grid_3
          %h6 EXECUTION
          %a{ :href => "http://www.emparn.rn.gov.br", :target => "_blank"}
            %img{ :src => "../images/sponsors/logo-emparn.png", :alt => "Empresa de Pesquisa Agropecu‡ria do Rio Grande do norte - EMPARN" }
          %a{ :href => "http://www.ufersa.edu.br", :target => "_blank"}
            %img#ufersa{ :src => "../images/sponsors/logo-ufersa.jpg", :alt => "UFERSA" }
          %img.sep{ :src => "../images/sponsors/bg-separator.jpg", :height => "70px" }
        #apoio.grid_5
          %h6 SUPPORT
          #apoio-imagens
            %a{ :href => "http://www.embrapa.br/", :target => "_blank"}
              %img{ :src => "../images/footer-logo/logo-embrapa.jpg", :alt => "Embrapa", :height => "30px" }
            %a{ :href => "http://www.ufrn.br/ufrn/", :target => "_blank"}           
              %img{ :src => "../images/footer-logo/logo-ufrn.jpg", :alt => "UFRN", :height => "28px" }
            %a{ :href => "http://www.rn.gov.br/", :target => "_blank"}
              %img{ :src => "../images/footer-logo/logo-governo.jpg", :alt => "Governo de Todos", :height => "55px"}
            %a{ :href => "http://www.cnpq.br/", :target => "_blank"}
              %img{ :src => "../images/footer-logo/logo-cnpq.jpg", :alt => "CNPq", :height => "35px"}
            %br
            %a{ :href => "http://sebrae.com.br/", :target => "_blank"}
              %img{ :src => "../images/footer-logo/logo-sebrae.jpg", :alt => "SEBRAE", :height => "36px"}
            %a{ :href => "http://www.ifrn.edu.br/", :target => "_blank"}
              %img{ :src => "../images/footer-logo/logo-ifrn.jpg", :alt => "IFRN", :height => "30px"}
            %a{ :href => "http://natal.rn.gov.br/", :target => "_blank"}
              %img{ :src => "../images/footer-logo/logo-prefeitura.jpg", :alt => "Prefeitura do Natal", :height => "40px"}
        #organizacao.grid_2.omega
          %img.sep{ :height => "70px",  :src => "../images/sponsors/bg-separator.jpg"}
          #organizacao-imagens
            %h6 ORGANIZATION
            %a{ :href => "http://www.ideiaseventos.com.br", :target => "_blank"}
              %img{ :src => "../images/sponsors/logo-ideias.jpg", :alt => "IdŽias Eventos", :height => "55px" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" }
    - %w(jquery.validate localization/messages_ptbr).each do |js_file|
      = script_tag("#{js_file}.js")
    - if variable(:javascript)
      %script{:type => 'text/javascript'}
        = variable(:javascript)
    - unless layout_type == 'internal_page'
      - %w(jquery.cycle.lite theme).each do |js_file|
        = script_tag("#{js_file}.js")
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-11345031-1");
        pageTracker._trackPageview();
      }
      catch(err) {}
    #translate
      %ul
        %li.pt
          %a{ :href => "/"}
            %img{ :src => "../images/bg/l_pt.png"}
        %li.es
          %a{ :href => "/es/"}
            %img{ :src => "../images/bg/l_es.png"}

    %a.sbf{ :href => "http://www.sbfruti.com.br/associa.htm", :title => "Associe-se na SBF", :target => "_blank"}
      %img{ :src => "../images/bg/bg-selo.png", :height => "126", :alt => "Associe-se na SBF"}
